<style>
    .paypage_footer{
        color:#4A90E2;
        font-size:14px;
        margin-top:97px;
        font-weight:500;
        width:387px;
    }
    .paypage_footer .fa{
        font-size:18px;
        margin-right:3px;
    }
    .faq_container{
        padding:0;
        width:1170px;
        height:1560px;
        box-shadow:0px 2px 4px #A0A8BD; 
    }
    .faq_box{
        width:940px;
        height:48px;
        
    }
    all-to-none{
        padding:0;
        margin:0;
    }
    .signout a{
        color:rgb(74,144,226);
    }
    .signUpBtn > span > a{
        color:rgb(74,144,226);
    }
    .sell_car_container{
        height:650px;
        margin-top:30px;
    }
    header{
        background-color: rgb(74,144,226);
    }
    .nav_title, .nav_item > a > div{
        color:white;
    }
    .signInBtn{
        color:white;
    }
    .signUpBtn{
        color:rgb(74,144,226);
        background-color:white;
    }
    .faq_box{
       font-size:30px;
       font-weight:500;
       color:#3A3D42;
    }

    .buyer_btn{
        width:200px;
        height:48px;
        text-align:center;
        cursor:pointer;
        opacity:0.8;
    }
    .buyer_btn:hover{
        opacity:1;
    }
    .seller_btn{
        width:200px;
        height:48px;
        text-align:center;
        cursor:pointer;
        opacity:0.8;
    }
    .seller_btn:hover{
        opacity:1;
    }
    .faq_btn_actived{
        border-bottom:6px solid #4A90E2;
    }
    .faq_box{
        border-bottom:3px solid #E6E7EB;
    }
    .faq_content_container_title{
        font-size:24px;
        color:#4A90E2;
        line-height:26px;
        vertical-align:middle;
        margin-bottom:10px;
        
    }
    .faq_content_container_text{
        font-size:18px;
        color:#4A4E54;
        line-height:20px;
        vertical-align:middle;
        margin-bottom:25px;
    }
    .faq_content_container_ul{
        padding-left:100px;
        padding-top:47px;
    }
    .faq_content_container{
        height:auto;
    }
</style>
<div class='container faq_container'>
    <img class="col-xs-12 all-to-none" src='<%= asset_path "faq/faq_banner.jpg" %>' width='1170px' height="400px;" style="margin-top:50px; margin-bottom:58px;">
    <div class="col-xs-12 faq_nav_container" align="center">
        <div class="faq_box">
            <div class="col-xs-6" align="right" style="padding-right:33.5px; position: relative;top: 3px;">
                <div class="buyer_btn faq_btn_actived">
                    <%=t :faq_buyer%>
                </div>
            </div>
            <div class="col-xs-6" align="left" style="padding-left:33.5px; position: relative;top: 3px;">
                <div class="seller_btn">
                    <%=t :faq_seller%>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 faq_content_container faq_content_container_0">
        <ul class="faq_content_container_ul">
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                    <%=t :faq_00%>
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                    <%=t :faq_01%>
                </span>
            </li>
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                    <%=t :faq_10%>
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                    <%=t :faq_11%>
                </span>
            </li>
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                    <%=t :faq_20%>
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                    <%=t :faq_21%>
                </span>
            </li>
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                    <%=t :faq_30%>
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                    <%=t :faq_31%>
                </span>
            </li>
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                    <%=t :faq_40%>
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                    <%=t :faq_41%>
                </span>
            </li>
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                    <%=t :faq_50%>
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                    <%=t :faq_51%>
                </span>
            </li>
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                    <%=t :faq_60%>
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                    <%=t :faq_61%>
                </span>
            </li>
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                    <%=t :faq_70%>
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                    <%=t :faq_71%>
                </span>
            </li>
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                    <%=t :faq_80%>
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                    <%=t :faq_81%>
                </span>
            </li>
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                    <%=t :faq_90%>
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                    <%=t :faq_910%> <a href="http://www.tripalink.com/driver_license/"><span style="color:blue;"><%=t :faq_911%></span></a><%=t :faq_912%>
                </span>
            </li>
        </ul>    

    </div>
    <div class="col-xs-12 faq_content_container faq_content_container_1" style="display:none;">
        <ul class="faq_content_container_ul">
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                   <%=t :faq00%>
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                    <%=t :faq01%>                
                </span>
            </li>
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                   <%=t :faq10%>
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                   <%=t :faq11%>
                </span>
            </li>
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                   <%=t :faq20%>
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                   <%=t :faq21%>
                </span>
            </li>
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                   <%=t :faq30%>
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                    <%=t :faq31%>
                </span>
            </li>
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                    <%=t :faq40%>
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                    <%=t :faq41%>
                </span>
            </li>
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                    <%=t :faq50%>
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                    <%=t :faq51%>
                </span>
            </li>
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                    <%=t :faq60%>
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                    <%=t :faq611%>
                </span>
            </li>
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                    <%=t :faq70%>
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                   <%=t :faq71%>
                </span>
            </li>
        </ul>    
    </div>
    <div class="col-xs-12" align='center'>
        <a href="tel:18666864246">
            <div class="paypage_footer">
                <i class="fa fa-phone-square"></i> Have Questions? Call us at:(866)686-4246
            </div>
        </a>
    </div>
</div>
<script>
    $('.buyer_btn').click(function(){
    
        $(this).addClass('faq_btn_actived');
        $('.seller_btn').removeClass('faq_btn_actived');
        $('.faq_content_container_1').fadeOut(function(){
            $('.faq_content_container_0').fadeIn();                                      
        })
        
    })
    $('.seller_btn').click(function(){
    
        $(this).addClass('faq_btn_actived');
        $('.buyer_btn').removeClass('faq_btn_actived');
        $('.faq_content_container_0').fadeOut(function(){
            $('.faq_content_container_1').fadeIn();                                      
        })
        
    })
  $(function() {
      $(window).scroll(function(){
          var scrollTop = $(window).scrollTop();
          if(scrollTop != 0) {
            $('header').css('background','rgba(74,144,226,0.8)');
            $('.nav_title, .nav_item > a > div, .signInBtn').css('color','white');  
            $('.signUpBtn').css('background-color','white');
            $('.signUpBtn, .signout a').css('color','rgba(74,144,226,1)');  
          }
          else {
            $('header').css('background','rgba(74,144,226,0.8)');
            $('.nav_title, .nav_item > a > div, .signInBtn').css('color','white');  
            $('.signUpBtn').css('background-color','white');
            $('.signUpBtn, .signout a').css('color','rgba(74,144,226,1)');  
          }
      });
  });
</script> 