<style>
      .menu-opener-inner, .menu-opener-inner::before, .menu-opener-inner::after{
/*            background: rgb(74, 144, 226);*/
            background:white;
      }
      
      pre{
        display: none !important;
      }
        @media screen and (min-width: 750px){
          .homepage_body{
            z-index: -1;
            position:absolute;
            padding:0;
            margin:0;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            background-color: black;
            background-image: url(<%= asset_path "homepage/house-car-vintage-old-small.png" %>);
            background-size: cover;
            background-position:center 0%;
    /*
            filter: blur(1px);
            -webkit-filter: blur(1px);
    */
            display: block;
          }
        }
        @media screen and (max-width: 750px){
          .homepage_body{
            z-index: -1;
            position:absolute;
            padding:0;
            margin:0;
            top:0;
            left:0;
            width: 100%;
            height: 73%;
            background-color: black;
            background-image: url(<%= asset_path "homepage/house-car-vintage-old-small.png" %>);
            background-size: cover;
            background-position:center 0%;
    /*
            filter: blur(1px);
            -webkit-filter: blur(1px);
    */
            display: block;
          }
        }
    @media screen and (min-width:750px){
      .homepage_mask{
        position: absolute;
        top:0;
        left: 0;
/*        background-color: rgba(255,255,255,0.50);*/
        background-color: rgba(58,61,66,0.35);
        height: 100%;
        width:100%;
      }
    }
    @media screen and (max-width:750px){
      .homepage_mask{
        position: absolute;
        top:0;
        left: 0;
        background-color: rgba(58,61,66,0.35);
        height: 100%;
        width:100%;
      }
    }
      .homepage_main_title{
        height: 130px;
        position: absolute;
        top:31%;
        z-index: -1;
        line-height: 130px;
        vertical-align: middle;
        text-align: center;
      }
      .homepage_main_title div:nth-child(2){
    /*    border:10px solid rgba(255,255,255,0.2);*/
        height: 100%;
      }
      .homepage_main_title > div > span{
        margin:0;
        padding: 0;
        font-size: 64px;
        font-weight: 800;
        position: relative;
        top:-17px;
        /*color:#3a3d42;*/
/*        color:rgb(74,144,226);*/
        color:white;
        text-shadow: 0 2px 4px #7B808C;
      }
      .homepage_main_title_0{
        position: relative;
        //left: 10px;
        color:rgb(243,243,243);
      }
      .homepage_main_title_0_s{
        position: relative;
        //left: 5px;
        top:-95px !important;
        color:rgb(255,255,255) !important;
        font-size: 24px !important;
        font-weight: 500 !important;
      }
      .homepage_main_title_1_s{
        position: relative;
        //left: -5px;
        top:-95px !important;
        color:rgb(255,255,255) !important;
        font-size: 24px !important;
        font-weight: 500 !important;
      }
      .homepage_main_title_1{
        position: relative;
        //left: -10px;
        color:rgb(243,243,243);
      }
      .homepage_sub_title{
        position: absolute;
        top: 46%;
        text-align: center;
        color: rgba(255,255,255,0.9);
        font-size: 36px;
        font-weight: 800;
        
      }
        @media screen and (min-width:750px){
            .homepage_main_btn_container{
                position: absolute;
                top:70%;
            }
        }
        @media screen and (max-width:750px){
            .homepage_main_btn_container{
                position: absolute;
                top:45%;
            }
        }
      .homepage_main_btn{
        height: 50px;
        line-height: 50px;
        vertical-align: middle;
        text-align: center;
        border-radius: 5px; 
        width: 200px;
        color: white;
        opacity: 0.8;
        font-size: 23px;
        font-weight: 500;
        cursor: pointer;
        float:left;
          
        -moz-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -webkit-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -o-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -ms-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
        transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
      }
      .homepage_mobile_btn{
        height: 50px;
        line-height: 50px;
        vertical-align: middle;
        text-align: center;
        border-radius: 5px; 
        
        width: 47%;
        color: white;
        opacity: 0.8;
        font-size: 23px;
        font-weight: 500;
        cursor: pointer;
        float:left;
          
        -moz-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -webkit-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -o-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -ms-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
        transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
      }
      .homepage_main_btn:hover{
        opacity: 1;
      }
      .homepage_main_btn_0{
        background-color:rgb(74,144,226);
        -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
      }
      .homepage_main_btn_0:hover{
        background-color:#3171BA;
      }
      .homepage_main_btn_1{
/*        border:3px solid rgb(74,144,226);*/
/*        color:rgb(74,144,226);*/
        border:3px solid white;
          color:white;
        line-height: 43px;         
        -moz-transition: color 0.2s ease-in-out, color 0.2s ease-in-out;
        -webkit-transition: color 0.2s ease-in-out, color 0.2s ease-in-out;
        -o-transition: color 0.2s ease-in-out, color 0.2s ease-in-out;
        -ms-transition: color 0.2s ease-in-out, color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out, color 0.2s ease-in-out;
      }
      .homepage_main_btn_1:hover{
/*
        border-color:#3171BA;
        color:#3171BA;
*/
          border-color:#ced1d9;
          color:#ced1d9;
      }
      .homepage_main_btn_s{
        color:rgb(74,144,226);
        border:3px solid rgb(74,144,226);
      }
      .homepage_main_btn_s > .fa{
        position: relative;
        top:-1px;
      }
      .homepage_main_btn_s > .fa-shopping-cart{
        position: relative;
        left:-3px;
        top:0px;
      }
        .homepage_main_btn_s_0{
             width:50%;
             height:41px;
             line-height:41px;
             vertical-align:middle;
             border-bottom-left-radius:0px;
             border-top-left-radius:0px;
            
             background-color:rgb(74,144,226);
             font-size:14px;
             font-weight:500;
             color:white;
             opacity:1;
        }
        .homepage_main_btn_s_1{
             width:50%;
             height:41px;
             line-height:41px;
             vertical-align:middle;
             border-bottom-right-radius:0px;
             border-top-right-radius:0px;

             background-color:white;
             font-weight:500;
             font-size:14px;
             color:rgb(74,144,226);
             margin-bottom:10px;
             opacity:1;
        }
        @media screen and (min-width:750px){
              .home_page_howItWorks{
                padding-left:0;
                padding-right:0;
                position:absolute;
                width:100%;
                height:556px;
                top:100%;
                background-color: rgb(255, 255, 255)
              }
        }
        @media screen and (max-width:750px){
              .home_page_howItWorks{
                padding-left:0;
                padding-right:0;
                position:absolute;
                width:100%;
                height:556px;
                top:71%;
                background-color: rgb(255, 255, 255)
              }
        }
      .home_page_howItWorks_title{
          margin-top:80px;
          hight:29px;
          line-height:29px;
          vertical-align:middle;
          text-align:center;
          font-size:24px;
          font-weight: 800;
          color:rgb(108, 120, 142);
      }
    .home_page_howItWorks_divider{
        height:4px;
        width:60px;
        background-color:rgb(74, 144, 226);
        position: relative;
        top: 116px;
    }

    .home_page_howItWorks_content{
        max-width:804px;
        height:140px;
        margin-top:55px;
    }
    .home_page_howItWorks_content_title{
        height:25px;
        padding:0;
        margin-top:15px;
/*        background-color:red;*/
        color:rgb(108, 120, 142);
        line-height:25px;
        vertical-align:middle;
        font-size:20px;
        font-weight:500;
        margin-bottom:20px;
    }
    .col-29{
        width:29%;
        float:left;
    }
    .col-42{
        width:42%;
        float:left;
    }
    .home_page_howItWorks_content_text{
        color:rgb(108, 120, 142);
        height:auto;
        text-align:justify;
        font-size:12px;
        font-weight:500;
    }
    .home_page_howItWorks_container{
        margin-bottom:120px;
    } 

    .foot_img_0:hover img{
        content:url('<%= asset_path "homepage/facebook_0.png" %>')
    }
    .foot_img_1:hover img{
        content:url('<%= asset_path "homepage/twitter_0.png" %>')
    }
    .foot_img_2:hover img{
        content:url('<%= asset_path "homepage/weibo_0.png" %>')
    }
    .foot_img_3:hover img{
        content:url('<%= asset_path "homepage/wechat_0.png" %>')
    }
    .home_page_howItWorks_content_mobile{
        padding-top:35px;
    }
    .home_page_howItWorks_content_text_mobile{
        width:100%;
        max-width:280px;
    }
    #home{
        overflow-x:hidden;
    }
</style>
<div role="main" class="main" id="home">
  <div class="col-xs-12 homepage_body" id="main_background">
    <div class="col-xs-12 homepage_mask">
    </div>
  </div>
  <div class="col-xs-12 homepage_main_title" align="center">
    <div class="col-md-12 col-sm-12 col-xs-12 all-to-none animated fadeInDown">
        <span class="homepage_main_title_0 hidden-xs">
            <%=t :home_page_title_0 %>
        </span>
        <span class="homepage_main_title_1 hidden-xs">
            <%=t :home_page_title_1 %>
        </span>
        <span class="homepage_main_title_0_s hidden-lg hidden-md hidden-sm">
            <%=t :home_page_title_0 %>
        </span>
        <span class="homepage_main_title_1_s hidden-lg hidden-md hidden-sm">
            <%=t :home_page_title_1 %>
        </span>
    </div>
  </div>
  <div class="col-xs-12 homepage_sub_title" align="center">

  </div>
  <div class="col-xs-12 homepage_main_btn_container " align='center'>
      <div class="homepage_main_btn_box  hidden-xs">
        <a href="<%=new_sell_request_path%>">
              <div class="homepage_main_btn homepage_main_btn_1">
                <span>
                    <%=t :sell_car %>
                </span>
              </div> 
          </a>
          <a href="<%=cars_path%>">
              <div class="homepage_main_btn homepage_main_btn_0" style="float:right">
                <span>
                    <%=t :buy_car %>
                </span>
              </div>
          </a>
      </div>
      <div class="homepage_main_btn_box_s  hidden-md hidden-lg hidden-sm" align="center">
          <div style="width:100%; max-width:300px;">
              <a href="<%=new_sell_request_path%>">
                  <div class="homepage_mobile_btn  homepage_main_btn_s_1">
                    <span>
                        <%=t :sell_car %>
                    </span>
                  </div> 
              </a>
              <a href="<%=cars_path%>">
                  <div class="homepage_mobile_btn  homepage_main_btn_s_0">
                    <span>
                        <%=t :buy_car %>
                    </span>
                  </div>
              </a>
          </div>
      </div>
  </div>

  <div class="col-xs-12 home_page_howItWorks" align="center">
      <div class="col-xs-12 home_page_howItWorks_title hidden-xs hidden-sm" align="center">
          <%=t :home_how_it_works%>
      </div>
      <div class="home_page_howItWorks_divider hidden-xs hidden-sm" align="center">
      </div>
      <div class="col-xs-12 home_page_howItWorks_container">
          <div class="home_page_howItWorks_content hidden-sm hidden-xs">
              <div class="col-29">
                  <img src="<%= asset_path 'homepage/howItWorks_0.png' %>" width="100px" height="100px"/>
                  <div class="col-xs-12 home_page_howItWorks_content_title">
                      <%=t :home_price_transparency %>
                  </div>
                  <div class="col-xs-12 home_page_howItWorks_content_text hidden-sm hidden-xs">
                      <%=t :home_price_transparency_text %>
                  </div>
              </div>
              <div class="col-42" style='padding-left:6.5%; padding-right:6.5%;'>
                  <img src="<%= asset_path 'homepage/howItWorks_1.png' %>" width="100px" height="100px"/>
                  <div class="col-xs-12 home_page_howItWorks_content_title">
                      <%=t :home_reliable_quality %>
                  </div>
                  <div class="col-xs-12 home_page_howItWorks_content_text hidden-sm hidden-xs">
                      <%=t :home_reliable_quality_text %> 
                  </div>
              </div>
              <div class="col-29" >
                  <img src="<%= asset_path 'homepage/howItWorks_2.png' %>" width="100px" height="100px"/>
                  <div class="col-xs-12 home_page_howItWorks_content_title">
                      <%=t :home_nohassle_service %>
                  </div>
                  <div class="col-xs-12 home_page_howItWorks_content_text hidden-sm hidden-xs">
                      <%=t :home_nohassle_service_text %>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 home_page_howItWorks_content_mobile hidden-md hidden-lg" align="center">
              <img src="<%= asset_path 'homepage/dollars37.png'%>" width="41.25px" height="55px">
              <div class="col-xs-12 home_page_howItWorks_content_title">
                   <%=t :home_price_transparency %>
              </div>
              <div class="home_page_howItWorks_content_text home_page_howItWorks_content_text_mobile">
                  <%=t :home_price_transparency_text %>
              </div>
              <img src="<%= asset_path 'homepage/award33.png'%>" width="55px" height="55px" style="margin-top:35px;">
              <div class="col-xs-12 home_page_howItWorks_content_title">
                   <%=t :home_reliable_quality %>
              </div>
              <div class="home_page_howItWorks_content_text home_page_howItWorks_content_text_mobile">
                  <%=t :home_reliable_quality_text %>
              </div>
              <img src="<%= asset_path 'homepage/worker37.png'%>" width="48.98px" height="55px" style="margin-top:35px;">
              <div class="col-xs-12 home_page_howItWorks_content_title">
                   <%=t :home_nohassle_service %>
              </div>
              <div class="home_page_howItWorks_content_text home_page_howItWorks_content_text_mobile">
                  <%=t :home_nohassle_service_text %>
              </div>
          </div>
      </div>
      <div class="sell_homepage_container col-xs-12 all-to-none hidden-xs hidden-sm" align="center">
          <div class="sell_homepage_title">
              Simple process to sell your car faster
          </div>
          <img class="sell_step_line" src="<%= asset_path 'homepage/sell_divider.png' %>" width="100ox" height="1180px"/>
          <div class="sell_step_container sell_step_container_odd" style="margin-top:41px;">
              <div class="sell_step_left_container" align="center">
                  <img src="<%= asset_path 'homepage/sell_step_1.png' %>" height="231px" width="238px" style="margin-top:63px"/>
              </div>
              <div class="sell_step_right_container" align="center">
                  <div class="sell_step_right_box">
                      <span>
                          Tell us about your car
                      </span>
                      <div>
                          Tell us about your car and get a free quote for up to 30% more than a dealer trade-in. For every quialified, we will provide a free professional pre-purchase vehicle inspection
                      </div>
                  </div>
              </div>    
          </div>
          <div class="sell_step_container sell_step_container_even">
              <div class="sell_step_left_container" align="center">
                  <img src="<%= asset_path 'homepage/sell_step_2.png' %>" height="220px" width="262px" style="margin-top:70px"/>
              </div>
              <div class="sell_step_right_container" align="center">
                  <div class="sell_step_right_box">
                      <span>
                          Perform a FREE inspection
                      </span>
                      <div>
                          Our Auto Genius come to your location and perform a 158 points professional inspection of your car with a test drive. Our inspector then take beautiful photos of your car for your listing page.
                      </div>
                  </div>
              </div>    
          </div>
          <div class="sell_step_container sell_step_container_odd">
              <div class="sell_step_left_container" align="center">
                  <img src="<%= asset_path 'homepage/sell_step_3.png' %>" height="149px" width="327px" style="margin-top:110px"/>
              </div>
              <div class="sell_step_right_container" align="center">
                  <div class="sell_step_right_box">
                      <span>
                          Let us take care of the rest
                      </span>
                      <div>
                          As soon as your car passes muster, we make it available to the Tripalink community. Our Auto Genius help you to handle all drive tests and price negotiations.
                      </div>
                  </div>
              </div>    
          </div>
          <div class="sell_step_container sell_step_container_even">
              <div class="sell_step_left_container" align="center">
                  <img src="<%= asset_path 'homepage/sell_step_4.png' %>" height="165px" width="280px" style="margin-top:92px"/>
              </div>
              <div class="sell_step_right_container" align="center">
                  <div class="sell_step_right_box">
                      <span>
                          It's time to say goodbye
                      </span>
                      <div>
                          We'll find a buyer in 30-days or less. Keep driving your car until the moment it is sold. We manage the payment process and all the pain-in-the-exhaust paperwork
                      </div>
                  </div>
              </div>    
          </div>
      </div>
      
      <div class="col-xs-12 adv_photo" style="overflow-x:hidden !important;">
            <div class="swiper-wrapper">
                <div class="swiper-slide adv_photo_0" id="advPhoto_0"></div>
                <div class="swiper-slide adv_photo_1" id="advPhoto_1"></div>
                <div class="swiper-slide adv_photo_2" id="advPhoto_2"></div>
                <div class="swiper-slide adv_photo_3" id="advPhoto_3"></div>
                <div class="swiper-slide adv_photo_4" id="advPhoto_4"></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next next_bottom swiper-button-white"></div>
            <div class="swiper-button-prev prev_bottom swiper-button-white"></div>
      </div>
      
<!--
      <div class="col-xs-12 adv_photo" id="advPhoto">
      </div>
-->
      <div class="col-xs-12 home_page_footer all-to-none">
          <div class="col-xs-12 all-to-none footer_upper">
              <div class="footer_upper_left all-to-none hidden-sm hidden-xs">
                 
              </div>
              <div class="footer_upper_middle all-to-none hidden-sm hidden-xs">
                  <a href="/faq">
                      <div class="col-xs-3 all-to-none" style="text-align:center;">
                          <%=t :home_page_help_center %>
                      </div>
                  </a>
                  <div class="col-xs-3 all-to-none" style="text-align:center;">
                      <%=t :home_page_about_us %>
                  </div>
                  <a href="/terms_policy">
                      <div class="col-xs-3 all-to-none" style="text-align:center;">
                          <%=t :home_page_policy %>
                      </div>
                  </a>
                  <a href="mailto:tripalink.helpcenter@gmail.com">
                      <div class="col-xs-3 all-to-none" style="text-align:center;">
                          <%=t :home_page_contact %>
                      </div>
                  </a>
              </div>
              <div class="footer_upper_right all-to-none hidden-sm hidden-xs">
                  <div style="max-width: 190px;">
                     <a href="https://www.facebook.com/pages/Tripalink/1045740125437551">      
                         <div class="col-xs-3 foot_img_0">
                             <img src="<%= asset_path "homepage/facebook.png" %>" width="40px" height="40px" />
                         </div>
                     </a>
                     <a href="https://twitter.com/tripalink">
                         <div class="col-xs-3 foot_img_1">
                             <img src="<%= asset_path "homepage/twitter.png" %>" width="40px" height="40px" />
                         </div>
                     </a>
                     <div class="col-xs-3 foot_img_2" style="cursor:not-allowed">
                         <img src="<%= asset_path "homepage/weibo.png" %>" width="40px" height="40px" />
                     </div>
                     <div class="col-xs-3 foot_img_3" data-toggle="modal" data-target="#wechat_box">
                         <img src="<%= asset_path "homepage/wechat.png" %>" width="40px" height="40px" />
                     </div>
                  </div>
              </div>
              <div class="hidden-md hidden-lg col-xs-12 footer_mobile_upper">
                  <a href="/faq">
                      <div class="col-xs-3 all-to-none" style="text-align:center;">
                          <%=t :home_page_help_center %>
                      </div>
                  </a>
                  <div class="col-xs-3 all-to-none" style="text-align:center;">
                      <%=t :home_page_about_us %>
                  </div>
                  <a href="/terms_policy">
                      <div class="col-xs-3 all-to-none" style="text-align:center;">
                          <%=t :home_page_policy %>
                      </div>
                  </a>
                  <a href="mailto:tripalink.helpcenter@gmail.com">
                      <div class="col-xs-3 all-to-none" style="text-align:center;">
                          <%=t :home_page_contact %>
                      </div>
                  </a>
              </div>
              <div class="hidden-md hidden-lg col-xs-12 footer_mobile_lower">
                 <div style="max-width: 190px;">
                     <a href="https://www.facebook.com/pages/Tripalink/1045740125437551">      
                         <div class="col-xs-3 foot_img_0">
                             <img src="<%= asset_path "homepage/facebook.png" %>" width="40px" height="40px" />
                         </div>
                     </a>
                     <a href="https://twitter.com/tripalink">
                         <div class="col-xs-3 foot_img_1">
                             <img src="<%= asset_path "homepage/twitter.png" %>" width="40px" height="40px" />
                         </div>
                     </a>
                     <div class="col-xs-3 foot_img_2" style="cursor:not-allowed">
                         <img src="<%= asset_path "homepage/weibo.png" %>" width="40px" height="40px" />
                     </div>
                     <div class="col-xs-3 foot_img_3" data-toggle="modal" data-target="#wechat_box">
                         <img src="<%= asset_path "homepage/wechat.png" %>" width="40px" height="40px" />
                     </div>
                  </div>
              </div>
              <div class="col-xs-12" align="center">
                  <div class='footer_lower'>
                      2015 Tripalink Corp. All Rights Reserved.
                  </div>
              </div>
           </div>
       </div>
   </div>
</div>
<!-- Modal -->
<div class="modal fade" id="wechat_box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" align="center">
      <img src='<%= asset_path "homepage/qrcode.jpg" %>' width="600px" height="600px">
    </div>
  </div>
</div>

<%= javascript_include_tag "swiper/swiper.min.js"%>
<script>
   var img = new Image();
   img.src = "<%= asset_path 'homepage/house-car-vintage-old.jpg' %>";
   img.onload = function() {
       $('#main_background').css('background-image', 'url(' + this.src + ')');
   }
//   var img_adv = new Image();
//   img_adv.src = "<%= asset_path 'homepage/Testimonials.jpg' %>";
//   img_adv.onload = function() {
//       $('#advPhoto_0').css('background-image', 'url(' + "<%= asset_path 'homepage/Testimonials.jpg' %>" + ')');
//   }
   $(function() {
      $(window).scroll(function(){
          var scrollTop = $(window).scrollTop();
          if(scrollTop != 0) {
            $('.menu-opener-inner').addClass('menu-opener-inner_white');
          }
          else {
            $('.menu-opener-inner').removeClass('menu-opener-inner_white'); 
          }
      });
   });
   var swiper = new Swiper('.adv_photo', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 15,
        autoplay: 2500,
        autoplayDisableOnInteraction: false,
        loop: true
   });
</script>


