<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >

      <div class="panel panel-info">
        <div class="panel-heading">
          <%= content_tag "h3", current_user.name, class: "panel-title" %>
        </div>
        <div class="panel-body">
          <%= form_for(@user) do |f| %>
            <div class="row">
              <div class="col-md-3 col-lg-3" align="center">
                <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive">
              </div>
              <div class=" col-md-9 col-lg-9 ">
                <table class="table table-user-information">
                  <tbody>
                  <tr>
                    <td>User Name:</td>
                    <td><%= f.text_field :name, class: "form-control" %></td>
                  </tr>
                  <tr>
                    <td>Email address:</td>
                    <td><%= f.text_field :email, class: "form-control" %></td>
                  </tr>
                  <tr>
                    <td>Phone Number</td>
                    <td><%= f.text_field :phone, class: "form-control" %></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="panel-footer">
              <%= f.submit "Update", class: "btn btn-sm btn-success" %>
              <span class="pull-right">
                <a type="button" class="btn btn-sm btn-danger">Cancel</a>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


