<style>
    body{
        overflow:auto;
        background-color:#F9F9FB;
    }
    .home_page_footer{
        background-color:transparent;
    }
    header{
        background-color: rgb(74,144,226);
        min-width:1280px;
    }
    ul{
        list-style-type: none;
    }
    .nav_title, .nav_item > a > div{
        color:white;
    }
    .signInBtn{
        color:white;
    }
    .signUpBtn{
        color:rgb(74,144,226);
        background-color:white;
    }
    .signUpBtn > span > a {
        color: rgb(74,144,226);
    }
    .form_user_photo:hover img{
        content:url("<%= asset_path 'user_center/uploader_0.png' %>");
    }
    .car_clickable{
        width:100%;
        margin: 0px;
        padding: 0px;
        height: 300px;
        background-color: white;
        float: left;
        border-radius:15px;
    }
  .car_clickable_img{
    padding:17px;
    height: 180px;
  }
    .car_clickable_outline{
        min-width:100px;
        margin:0;
        margin-bottom:15px;
        padding-left:0;
    }
    .car_clickable_img_detail div:nth-child(2){
        font-size:15px;
    }
    .user_center_right_container{
        height:auto;
        min-height:710px;
    }
    .divider-line{
        margin-bottom:10px;
    }
</style>
<div class="col-xs-12" align="center">
    <div class="user_center_container">
        <div class="user_center_left_container">
            <div class='user_center_nav'>
                <a href="/">
                    <span>Home</span>
                </a>
                &nbsp;>&nbsp;
                <span>
                    User Center
                </span>
            </div>
            <div class="user_center_left_bar">
                <div class="user_center_left_bar_title">
                    User Center
                </div>
                <div class="divider-line" style="margin-left:-20px;">
                </div>
                <ul class="user_center_left_bar_list">
                    <% if type == 0 %> 
                        <a href="<%= buy_transactions_user_path current_user %>">
                            <li>
                                <img class="list_square list_square_0" src="<%= asset_path 'homepage/user_buy_icon.png' %>"/>
                                <span>
                                    My Purchasing
                                </span>
                            </li>
                        </a>
                        <li class="user_center_active">
                            <a href="<%= sell_transactions_user_path current_user %>">
                                <img class="list_square list_square_1" src="<%= asset_path 'homepage/user_sell_icon_1.png' %>"/>
                                <span>
                                    My Selling
                                </span>
                            </a>
                        </li>
                    <% else %>
                        <a href="<%= buy_transactions_user_path current_user %>">
                            <li class="user_center_active">
                                <img class="list_square list_square_0" src="<%= asset_path 'homepage/user_buy_icon_1.png' %>"/>
                                <span>
                                    My Purchasing
                                </span>
                            </li>
                        </a>
                        <a href="<%= sell_transactions_user_path current_user %>">
                            <li>
                                <img class="list_square list_square_1" src="<%= asset_path 'homepage/user_sell_icon.png' %>"/>
                                <span>
                                    My Selling
                                </span>
                            </li>
                         </a>
                    <% end %>
                    
                    <a href="<%= appointments_user_path current_user %>">
                        <li>
                            <img class="list_square list_square_2" src="<%= asset_path 'homepage/user_appointment_icon.png' %>"/>
                            <span>
                                My Appointment
                            </span>
                        </li>
                    </a>


                    <a href="<%= user_path current_user %>">
                        <li>
                            <img class="list_square list_square_3" src="<%= asset_path 'homepage/user_profile_icon.png' %>"/>
                            <span>
                                My Profile
                            </span>
                        </li>
                    </a>
                   
                    <li style="cursor:not-allowed">
                        <img class="list_square list_square_4" src="<%= asset_path 'homepage/user_wishlist_icon.png' %>"/>
                        <span>
                            My Wish List (Future)
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="user_center_right_container">
            <% if type == 0 %>
                <div class="user_center_left_bar_title">
                    My Selling
                </div>
                <div class="divider-line" style="margin-left:-20px;">
                </div>
                <%= render partial: "shared/car", collection: @cars %>
            <% else %>
                <div class="user_center_left_bar_title">
                    My Purchasings
                </div>
                <div class="divider-line" style="margin-left:-20px;">
                </div>
                
            <% end %>
            
            <!-- my pusrchasing item -->
            
        </div>
    </div>
    <div class="col-xs-12 home_page_footer all-to-none">
          <div class="col-xs-12 all-to-none footer_upper">
              <div class="footer_upper_left all-to-none">
                 
              </div>
              <div class="footer_upper_middle all-to-none">
                  <a href="/faq">
                      <div class="col-xs-3 all-to-none" style="text-align:center;">
                          FAQ
                      </div>
                  </a>
                  <div class="col-xs-3 all-to-none" style="text-align:center;">
                      About Us
                  </div>
                  <a href="/terms_policy">
                      <div class="col-xs-3 all-to-none" style="text-align:center;">
                          Terms & Policy
                      </div>
                  </a>
                  <a href="mailto:tripalink.helpcenter@gmail.com">
                      <div class="col-xs-3 all-to-none" style="text-align:center;">
                          Contact Us
                      </div>
                  </a>
              </div>
              <div class="footer_upper_right all-to-none">
                  <div style="max-width: 190px;">
                     <a href="https://www.facebook.com/pages/Tripalink/1045740125437551">      
                         <div class="col-xs-3 foot_img_0">
                             <img src="<%= asset_path 'homepage/facebook.png' %>" width="40px" height="40px" />
                         </div>
                     </a>
                     <a href="https://twitter.com/tripalink">
                         <div class="col-xs-3 foot_img_1">
                             <img src="<%= asset_path 'homepage/twitter.png' %>" width="40px" height="40px" />
                         </div>
                     </a>
                     <div class="col-xs-3 foot_img_2" style="cursor:not-allowed">
                         <img src="<%= asset_path 'homepage/weibo.png' %>" width="40px" height="40px" />
                     </div>
                     <div class="col-xs-3 foot_img_3" style="cursor:not-allowed">
                         <img src="<%= asset_path 'homepage/wechat.png' %>" width="40px" height="40px" />
                     </div>
                  </div>
              </div>
              <div class="col-xs-12" align="center">
                  <div class='footer_lower'>
                      2015 Tripalink Corp. All Rights Reserved.
                  </div>
              </div>
           </div>
       </div>
</div>
<script>
  $(function() {
      $(window).scroll(function(){
          var scrollTop = $(window).scrollTop();
          if(scrollTop != 0) {
            $('header').css('background','rgba(74,144,226,0.8)');
            $('.nav_title, .nav_item > a > div, .signInBtn').css('color','white');  
            $('.signUpBtn').css('background-color','white');
            $('.signUpBtn, .signout a').css('color','rgba(74,144,226,1)');
          }
          else {
            $('header').css('background','rgba(74,144,226,0.8)');
            $('.nav_title, .nav_item > a > div, .signInBtn').css('color','white');  
            $('.signUpBtn').css('background-color','white');
            $('.signUpBtn, .signout a').css('color','rgba(74,144,226,1)');
          }
      });
  });
</script> 

<!--
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <hr class="tall">
    </div>

    <% if type == 0 %>
      <div class="col-md-12">
        <h4>sale transactions</h4>
      </div>
      <div class="row checkbox-container">
        <span class="button-checkbox">
          <button id="sale-pending" type="button" class="btn" data-color="primary">Sale pending</button>
            <input type="checkbox" class="hidden" />
        </span>
        <span class="button-checkbox">
          <button id="sold" type="button" class="btn" data-color="primary">Sold</button>
            <input type="checkbox" class="hidden" />
        </span>
      </div>
      <div class="row car-portfolio-container">
        <% @cars.each do |car| %>
          <ul class="portfolio-list sort-destination" data-sort-id="portfolio">
            <%= render partial: "shared/car",
                       locals: { car: car, status: sell_transaction_status_str(car.status) } %>
          </ul>
        <% end %>
      </div>
    <% else %>
    
      <div class="col-md-12">
        <h4>Purchase transactions</h4>
      </div>
      <div class="row checkbox-container">
        <span class="button-checkbox">
          <button id="processing-payment" type="button" class="btn" data-color="primary">Processing Payment</button>
            <input type="checkbox" class="hidden" />
        </span>
        <span class="button-checkbox">
          <button id="sale-pending" type="button" class="btn" data-color="primary">Sale Pending</button>
            <input type="checkbox" class="hidden" />
        </span>
        <span class="button-checkbox">
          <button id="delivering" type="button" class="btn" data-color="primary">Delivering</button>
            <input type="checkbox" class="hidden" />
        </span>
        <span class="button-checkbox">
          <button id="delivered" type="button" class="btn" data-color="primary">Delivered</button>
            <input type="checkbox" class="hidden" />
        </span>
      </div>
      <div class="row car-portfolio-container">
        <% @transactions.each do |transaction| %>
          <ul class="portfolio-list sort-destination" data-sort-id="portfolio">
            <%= render partial: "shared/car",
                       locals: { car: transaction.car, status: buy_transaction_status_str(transaction.status) } %>
          </ul>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
-->
