<% if not defined? status %>
  <% status = "undefined" %>
<% end %>
<%= content_tag "div",
                class: "col-md-4 col-sm-4 col-xs-12 car_clickable_outline",
                data: {status: status, carid: car.id} do %>
  <span class="product-thumb-info car_clickable">
    <% if car.status == 5 %>
      <% soldstring = car.soldinndays == -1 ? "Sold" : car.soldinndays == 0 ? "Sold instantly" : "Sold in #{car.soldinndays} #{"day".pluralize(car.soldinndays)}" %>
        <div class="ribbon-wrapper-green default">
            <div class="ribbon-green address_list_tag">
                <span><%= soldstring %></span>
            </div>
        </div>
    <% end %>
    <% if car.status == 4 %>
        <div class="ribbon-wrapper-green default">
            <div class="ribbon-green address_list_tag">
                <span>Sale pending</span>
            </div>
        </div>
    <% end %>
    <% if car.status != 5 && car.status != 4 %>  
        <a href="<%= car_path car %>">
    <% end  %>
      <div class="car_clickable_img">
        <% if !car.car_pictures.nil? and !car.car_pictures.first.nil? %>
          <div class="car_clickable_img-img" style="background-image:url(<%= car.thumbnail %>)">
<!--
              <div class='col-xs-12 car_clickable_img_price'>
                  $<%= number_with_delimiter(car.price) %>
              </div>
-->
          </div>
        <% else %>
          <div class="car_clickable_img-img" style="background-image:url(<%= 'img/products/product-1.jpg'%>)">
          </div>
        <% end %>
      </div>
      <div class="col-xs-12 car_clickable_img_detail">
        <div class="col-xs-12">
          <span class="col-xs-12 all-to-none">
            <%=car.car_model.year%> <%= car.car_model.make %>
          </span>
          <span class="col-xs-12 all-to-none">
            <%= car.car_model.model %> <%= car.car_model.trim %>
          </span>
        </div>
        <div class="col-xs-12">
          <%= number_with_delimiter(car.mileage) %> Miles | <%= car.car_model.body%>
        </div>
        <div class="col-xs-12 car_img_price">
            <div class="car_img_our_price">
                $<%= number_with_delimiter(car.price) %>
            </div>
            <div class="car_img_kbb_dealer_price">
                KBB Price <del>$<%= number_with_delimiter(car.price_kbb_max_retail) %></del>
            </div>
        </div>
      </div>
    
    <% if car.status != 5 && car.status != 4 %>  
       </a>
    <% end  %>
      
  </span>
<% end %>
