
<style>
    header{
        background-color: rgb(74,144,226);
    }
    .buy_car_container{
        height:auto;

    }
    .signUpBtn > span > a{
        color:rgb(74,144,226);
    }
    .nav_title, .nav_item > a > div{
        color:white;
    }
    .signInBtn{
        color:white;
    }
    .signUpBtn{
        color:rgb(74,144,226);
        background-color:white;
    }
    .driver_licence_container{
        width:100%;
        box-shadow: 0px 2px 4px 0px #A0A8BD;
        height:auto;
        padding-bottom:30px;
    }
    .driver_licence_nav{
        height:70px;
        padding:0;
        line-height:70px;
        vertical-align:middle;
        font-size:18px;
        color:#4A4A4A;
        font-weight:500;
        margin-top:50px;
        padding-left:5%;
        padding-right:5%;
    }
    .driver_licence_nav_content{
        text-align:left;
        width:100%;
        border-bottom:3px solid #E6E7EB;
    }
    .main_container{
        width:100%;
        max-width:840px;
    }
    .test_title{
        text-align:center;
        font-size:24px;
        color:#4A4A4A;
        font-weight:500;
        margin-top:37px;
    }
    .select_item_box_0{
/*        max-width:400px;*/
        height:320px;
        border:1px dashed #4A90E2;
        border-radius:3px;
        margin-bottom:10px;
    }
    .select_item_box_1{

        height:320px;
        border:1px dashed #4A90E2;
        border-radius:3px;
        margin-bottom:10px;
    }
    .select_item_box_2{

        height:320px;
        border:1px dashed #4A90E2;
        border-radius:3px;
        margin-bottom:10px;
    }
    @media (min-width: 992px){
        .select_item_box{
            max-width:280px !important;
        }
        .select_item_box_0{
            position:relative;
            left:-30px;
        }
        .select_item_box_2{
            position:relative;
            left:30px;
        }
    }
    .select_title{
        height:50px;
        line-height:50px;
        vertical-align:top;
        color:#4A90E2;
        font-size:30px;
        margin-bottom:7px;
        float:left;
    }
    .select_box_content{
        padding-left:10px;
        height:44px;
        font-size:14px;
        color:#333333;
        text-align:left;
        float:left;
    }
    .main_container_footer{
        font-size:14px;
        color:#333333;
        text-align:center;
        margin-top:48px;
    }
/*
    .select_item_box:hover{
        box-shadow: 0px 2px 4px 0px #A0A8BD;
        cursor:pointer;
    }
*/

    .zopim{
        display:none;
    }
    .test_box_title{
        padding:0px;
        margin-top:34px;
        color:#4A90E2;
        font-size:24px;
        line-height:25px;
        height:33px;
        vertical-align:middle;
        margin-bottom:12px;
    }
    .test_box_text{
        font-size:14px;
        color:#747B8B;
        line-height:18px;
        height:18px;
        vertical-align:middle;
        text-align:left;
        padding-left:20px;
        
    }
    .test_box_text .fa{
        font-size:4px;
        margin-right:11px;
        position:relative;
        top:-4px;
        color:#E6E7EB;
    }
    .test_button_box{
        margin-top:31px;
    }
    .test_button{
        margin-bottom:10px;
        width:160px;
        height:30px;
        background-color:#4A90E2;
        color:white;
        line-height:30px;
        vertical-align:middle;
        font-size:14px;
        border-radius:3px;
    }
    .test_button:hover{
        opacity:0.9;
    }
    .test_sub_title{
        font-size:14px;
        line-height:16px;
        height:auto;
        vertical-align:middle;
        color:#4A4A4A;
        margin-top:12px;
        margin-bottom:43px;
    }
</style>

<!--random list-->
<div class="col-xs-12" align='center' style="padding-left:5%; padding-right:5%; padding-bottom:5%;">
    <div class="col-xs-12 driver_licence_container">
        <div class="col-xs-12 driver_licence_nav" align="center">
            <div class="driver_licence_nav_content">
                <a href="/">
                    <span>
                        Home >
                    </span>
                </a>
                <a href="/faq">
                    <span>
                        Help Center
                    </span>
                </a>
            </div>
        </div>
        <div class="col-xs-12 all-to-none" align="center">
            <div class="main_container" align="center">
                <div class="test_title">
                    California Driver License Permit Practice Test<br>
                </div>
                <div class="col-xs-12 test_sub_title">
                    Currently, we only provide practice and test in Chinese. We are working on the English version, please come back later.
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 select_item_box_0 select_item_box" align="center">
                    <div class="col-xs-12 test_box_title" align='center'>
                        &nbsp;真题题库（共3套）
                    </div>
                    <div class="col-xs-12 test_box_text">
                        <i class="fa fa-circle"></i>
                        <span>
                            最新DMV考试原题
                        </span>
                    </div>
                    <div class="col-xs-12 test_box_text">
                        <i class="fa fa-circle"></i>
                        <span>
                            36道选择题和12道路标辨识题
                        </span>
                    </div>
                    <div class="col-xs-12 test_box_text">
                        <i class="fa fa-circle"></i>
                        <span>
                            可立刻查看答案
                        </span>
                    </div>
                    <div class="col-xs-12 test_button_box">
                        <a href="/driver_license/practice?id=1">
                            <div class="test_button">
                                查看题库A
                            </div>
                        </a>
                        <a href="/driver_license/practice?id=2">
                            <div class="test_button">
                                查看题库B
                            </div>
                        </a>
                        <a href="/driver_license/practice?id=3">
                            <div class="test_button">
                                查看题库C
                            </div>
                        </a>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 select_item_box_1 select_item_box" align="center">
                    <div class="col-xs-12 test_box_title" align='center'>
                        &nbsp;模拟测试（48道题）
                    </div>
                    <div class="col-xs-12 test_box_text">
                        <i class="fa fa-circle"></i>
                        <span>
                            48道随机题目
                        </span>
                    </div>
                    <div class="col-xs-12 test_box_text">
                        <i class="fa fa-circle"></i>
                        <span>
                            36道选择题和12道路标辨识题
                        </span>
                    </div>
                    <div class="col-xs-12 test_box_text">
                        <i class="fa fa-circle"></i>
                        <span>
                            提交完毕可查看分数及答案
                        </span>
                    </div>
                    <div class="col-xs-12 test_button_box" style="margin-top:86px">
                        <a href="/driver_license/test">
                            <div class="test_button">
                                开始测试
                            </div>
                        </a>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 select_item_box_2 select_item_box" align="center">
                    <div class="col-xs-12 test_box_title" align='center'>
                        &nbsp;近年题库（170道题）
                    </div>
                    <div class="col-xs-12 test_box_text">
                        <i class="fa fa-circle"></i>
                        <span>
                            包含170道题目
                        </span>
                    </div>
                    <div class="col-xs-12 test_box_text">
                        <i class="fa fa-circle"></i>
                        <span>
                            题目为2008年之后的真题
                        </span>
                    </div>
                    <div class="col-xs-12 test_box_text">
                        <i class="fa fa-circle"></i>
                        <span>
                            可立刻查看答案
                        </span>
                    </div>
                    <div class="col-xs-12 test_button_box" style="margin-top:86px">
                        <a href="/driver_license/practice?id=0">
                            <div class="test_button">
                                查看题库
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 all-to-none main_container_footer">
                Please note: This is not a official dmv driver license permit writing exam, and the test scores and levels are very approximate.<br> 
                Your score on this test cannot be used as proof of a formal driver license qualification
            </div>
        </div>
    </div>
</div>

<script>
    $(function(){
      $(window).scroll(function(){
          var scrollTop = $(window).scrollTop();
          if(scrollTop != 0) {
            $('header').css('background','rgba(74,144,226,0.8)');
            $('.nav_title, .nav_item > a > div, .signInBtn').css('color','white');  
            $('.signUpBtn').css('background-color','white');
            $('.signUpBtn, .signout a').css('color','rgba(74,144,226,1)');
          }
          else {
            $('header').css('background','rgba(74,144,226,0.8)');
            $('.nav_title, .nav_item > a > div, .signInBtn').css('color','white');  
            $('.signUpBtn').css('background-color','white');
            $('.signUpBtn, .signout a').css('color','rgba(74,144,226,1)');
          }
      });
    
    })
</script>


















