<style>
    header{
        background-color: rgb(74,144,226);
    }
    ul{
        list-style-type: none;
    }
    .nav_title, .nav_item > a > div{
        color:white;
    }
    .signInBtn{
        color:white;
    }
    .signUpBtn{
        color:rgb(74,144,226);
        background-color:white;
    }
    .signUpBtn > span > a {
        color: rgb(74,144,226);
    }
    .confirmation_title{
        color:rgb(74, 144, 226);
        height:47px;
        padding-top:20px;
        line-height:27px;
        vertical-align:middle;
        font-size:20px;
        text-align:center;
    }
    .confirmation_mobile_box{
        margin-top:50px;
    }
    .confirmation_subtitle{
        color:#747B8B;
        font-size:14px;
        padding:0 20px 0 20px;
        margin-top:9px;
    }
    .car_information_title{
        font-size:14px;
        color:#4A90E2;
        line-height:17px;
        vertical-align:middle;
        margin-top:10px;
    }

    @media screen and (max-width:991px){
        .confirmation_container_mobile{
            width:80%;
        }
    }
    @media screen and (max-width:700px){
        .confirmation_container_mobile{
            width:90%;
        }
    }
    @media screen and (max-width:414px){
        .confirmation_container_mobile{
            width:100%;
        }
    }

    .car_information_img{
        width:80px;
        height:80px;
        border-radius:40px;
        background-size:cover;
        background-position:center center;
        margin-top:10px;
        float:left;
    }
    .car_information_img_text{
        height:80px;
        float:left;
        margin-top:8px;
        margin-left:15px;
        max-width:180px;
    }
    .car_information_img_text span:nth-child(1){
        font-size:18px;
        color:#747B8B;
        line-height:24px;
        vertical-align:middle;
        height:48px;
    }
    .car_information_img_text span:nth-child(2){
        font-size:14px;
        line-height:18px;
        vertical-align:middle;
        color:#747B8B;
    }
    .car_information_img_text span:nth-child(3){
        font-size:14px;
        line-height:18px;
        vertical-align:middle;
        color:#747B8B;
    }
    .car_information_container{
        padding-right:0;
        color:#747B8B;
    }
    .confirmation_footer{
        position:fixed;
        top:100%;
        margin-top:-70px;
        height:20px;
        line-height:20px;
        vertical-align:middle;
        font-size:14px;
        color:#747B8B;
    }
    .confirmation_footer .fa{
        font-size:18px;
        position:relative;
        top:2px;
    }
</style>
<% if @apt.apt_type == "Test Drive" %>
    <% car = @apt.car %>
    <% car_model = car.car_model %>
    <div class="col-xs-12  all-to-none confirmation_mobile_box" align="center">
        <div class="confirmation_container_mobile">
            <div class="col-xs-12 confirmation_title" align="center">
                Congratulations!
            </div>
            <div class="col-xs-12 confirmation_subtitle" align="center">
                Thank you! An confirmation email has been sent to your email inbox. Our staff will contact you soon.
            </div>
            <div class="col-xs-12 car_information_title" align="left">
                CAR INFORMATION
            </div>

            <div class="col-xs-12 car_information_container" align="left">
                <div class="car_information_img" style="background-image:url('<%= car.car_pictures.first.picture.url%>')">
                </div>
                <div class="car_information_img_text" align="left">
                    <span class="col-xs-12 all-to-none">
                        <%= "#{ car.car_model.year } #{car.car_model.make} #{car.car_model.model}" %>
                    </span>
                    <span class="col-xs-12 all-to-none">
                        <%= "#{ car.car_model.body } | #{car.ext_color}"%> 
                    </span>
                    <span class="col-xs-12 all-to-none">
                        <%= number_with_delimiter(car.mileage) %> Miles
                    </span>
                </div>
            </div>
            <div class="col-xs-12 car_information_title" align="left" style="margin-top:15px;">
                TEST DRIVE INFORMATION
            </div>
            <div class="col-xs-12 car_information_container" align="left">
                <% if @apt.time_window_ids && @apt.time_window_ids.size > 0 %>
                    <% TimeWindow.find(@apt.time_window_ids).each do |time_window| %>
                        <%= "#{time_window.hour}:00".to_time.strftime("%l %P") %> to <%= "#{2 + time_window.hour}:00".to_time.strftime("%l %P") %>, on <%= time_window.date.strftime("%b %d, %Y") %></br>
                    <% end %>
                    <%= @apt.address %>, <%= @apt.city %>, <%= @apt.state %> <%= @apt.zipcode %></br>
                <% end %>
            </div>
            <div class="col-xs-12 car_information_title" align="left" style="margin-top:15px;">
                AUTO GENIUS INFORMATION
            </div>
            <div class="col-xs-12 car_information_container" align="left">
                <% expert = @apt.expert%>
                <%= expert.name %></br>
                <%= expert.phone %></br>
            </div>
            <div class="col-xs-12 car_information_title" align="left" style="margin-top:15px;">
                BUYER INFORMATION
            </div>
            <div class="col-xs-12 car_information_container" align="left">
                <% buyer = @apt.user%>
                <%= buyer.name %></br>
                <%= buyer.email%></br>
                <%= buyer.phone %></br>
            </div>
        </div>
    </div>
    <div class="confirmation_footer col-xs-12" align="center">
        <a href="tel:18666864246"><i class="fa fa-phone-square"></i> Questions? Call Us: (866)-686-4246</a>
    </div>
<% else %>
    <% sell_request = @apt.sell_request %>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Your test drive request has been received.</h1>
          <p>Car info: </p>
          <p><%= sell_request.year %> <%= sell_request.make %> <%= sell_request.model %></p>
          <p>Body: <%= sell_request.body_style %>, Trim: <%= sell_request.trim %>, Mileage: <%= sell_request.mileage %></p>
          <% if @apt.time_window_ids && @apt.time_window_ids.size > 0 %>
              <% TimeWindow.find(@apt.time_window_ids).each do |time_window| %>
                  <p>The time windows you requested are: <%= "#{time_window.hour}:00".to_time.strftime("%l %P") %> to <%= "#{2 + time_window.hour}:00".to_time.strftime("%l %P") %>, on <%= time_window.date.strftime("%b %d, %Y") %></p>
              <% end %>
          <% end %>
          <p>The address of appointment is: <%= @apt.address %>, <%= @apt.city %>, <%= @apt.state %> <%= @apt.zipcode %></p>
          <% expert = @apt.expert%>
          <p>Assigned auto genius: <%= expert.name %></p>
          <p>Phone: <%= expert.phone %></p>
        </div>
      </div>
    </div>
<% end %>
<script>
  $(function() {
      $('.form_right_column')
      $(window).scroll(function(){
          var scrollTop = $(window).scrollTop();
          if(scrollTop != 0) {
            $('header').css('background','rgba(74,144,226,0.8)');
            $('.nav_title, .nav_item > a > div, .signInBtn').css('color','white');  
            $('.signUpBtn').css('background-color','white');
            $('.signUpBtn, .signout a').css('color','rgba(74,144,226,1)');
          }
          else {
            $('header').css('background','rgba(74,144,226,0.8)');
            $('.nav_title, .nav_item > a > div, .signInBtn').css('color','white');  
            $('.signUpBtn').css('background-color','white');
            $('.signUpBtn, .signout a').css('color','rgba(74,144,226,1)');
          }
      });
  });
</script> 
