<% provide(:title, "Buy a used #{@car.car_model.year} #{@car.car_model.make} #{@car.car_model.model} #{@car.car_model.trim}") %>
<style>
    .nav_title_mobile{
        background-color: rgb(74,144,226);
    }
    header{
        background-color: rgb(74,144,226);
    }
    .shop {
        margin-top: 0px;
    }
    .swiper-container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        background-size: cover;
        background-position: center;
    }
    .gallery-top {
        
        width: 100%;
    }
    .gallery-thumbs {
        
        box-sizing: border-box;
        padding: 10px 0;
    }
    .gallery-thumbs .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
    }
    .gallery-thumbs .swiper-slide-active {
        opacity: 1;
    }

    .s0 .swiper_img{
        background-size: cover;
        background-repeat:no-repeat;
        background-position: center center;
    }
/*

*/
    .s1 .swiper-slide{
        width:100px;
        height:70px;
    }
    
    @media screen and (min-width: 767px){
        .car_detail {
            margin-top:-10px;
            width: 90%;
            height:100%;
        }
        .banner_container{
            height:650px;
            background-color:rgba(0, 0, 0, 0.9);
        }
        .swiper_img{
            width:100%;
            height:100%;
            background-size:100% 100%;
        }
        .s0 .swiper-slide{
            height:650px;
            background-size: cover;
            background-repeat:no-repeat;
            background-position: center center;
            display:block;
        }
    }
    @media screen and (min-width: 1100px){
        .car_detail {
            margin-top:-10px;
            width: 91%;
            height:100%;
        }
        .banner_container{
            height:650px;
            background-color:rgba(0, 0, 0, 0.9);
        }
        .swiper_img{
            width:100%;
            height:100%;
            background-size:100% 100%;
        }
        .s0 .swiper-slide{
            height:650px;
            background-size: cover;
            background-repeat:no-repeat;
            background-position: center center;
            display:block;
        }
    }
    @media screen and (min-width:1150px) {
        
        .car_detail {
            margin-top:-10px;
            width: 91%;
            height:100%;
        }
        .banner_container{
            height:650px;
            background-color:rgba(0, 0, 0, 0.9);
        }
        .swiper_img{
            width:100%;
            height:100%;
            background-size:100% 100%;
        }
        .s0 .swiper-slide{
            height:650px;
            background-size: cover;
            background-repeat:no-repeat;
            background-position: center center;
            display:block;
        }
        
    }
    @media screen and (min-width:1400px) {
        
        .car_detail {
            margin-top:-10px;
            width: 91%;
            height:100%;
        }
        .banner_container{
            height:800px;
            background-color:rgba(0, 0, 0, 0.9);
        }
        .swiper_img{
            width:100%;
            height:100%;
            background-size:100% 100%;
        }
        .s0 .swiper-slide{
            height:800px;
            background-size: cover;
            background-repeat:no-repeat;
            background-position: center center;
            display:block;
        }
        
    }
    @media screen and (min-width:1600px) {
        
        .car_detail {
            margin-top:-10px;
            width: 91%;
            height:100%;
        }
        .banner_container{
            height:1100px;
            background-color:rgba(0, 0, 0, 0.9);
        }
        .swiper_img{
            width:100%;
            height:100%;
            background-size:100% 100%;
        }
        .s0 .swiper-slide{
            height:1100px;
            background-size: cover;
            background-repeat:no-repeat;
            background-position: center center;
            display:block;
        }
        
    }
    @media screen and (max-width: 992px){
        .car_detail {
            margin-top:-10px;
            width: 90%;
            height:100%;
        }
        .banner_container{
            height:450px;
            background-color:rgba(0, 0, 0, 0.9);
        }
        .swiper_img{
            width:100%;
            height:450px;
            background-size:100% 100%;
        }
        .s0 .swiper-slide{
            height:450px;
            background-size: cover;
            background-repeat:no-repeat;
            background-position: center center;
            display:block;
        }       
        .car_detail_title_mobile{
            margin-top:0px;
        }
    }
    @media screen and (max-width: 767px){
        .banner_container{
            margin-top:50px !important;
        }
        .car_detail {
            margin-top:-10px;
            width: 1045px;
            height:100%;
        }
        .banner_container{
            height:250px;
            background-color:rgba(0, 0, 0, 0.9);
        }
        .swiper_img{
            width:100%;
            height:350px;
            background-size:100% 100%;
        }
        .s0 .swiper-slide{
            height:350px;
            background-size: cover;
            background-repeat:no-repeat;
            background-position: center center;
            display:block;
        }
        .car_detail_title_mobile{
            margin-top:104px;
        }
    }
    @media screen and (max-width: 625px){
        .banner_container{
            margin-top:50px !important;
        }
        .car_detail {
            margin-top:-10px;
            width: 1045px;
            height:100%;
        }
        .banner_container{
            height:225px;
            background-color:rgba(0, 0, 0, 0.9);
        }
        .swiper_img{
            width:100%;
            height:225px;
            background-size:100% 100%;
        }
        .s0 .swiper-slide{
            height:225px;
            background-size: cover;
            background-repeat:no-repeat;
            background-position: center center;
            display:block;
        }
        .car_detail_title_mobile{
            margin-top:0px;
        }

    }

    .banner_container:hover .s1{
        visibility: visible;
    }

    .car_detail_title{
        padding:15px;
        font-size:36px;
        font-weight:500;
        text-align:left;
        padding-bottom:0;
        min-width:575px;
        padding-left:40px;
        padding-right:0;
        
    }
    .car_detail_subtitle{
        padding:14px;
        font-size:18px;
        color:rgba(0,0,0,0.6);
        font-weight:200;
        text-align:left;
        padding-top:0px;
        margin-top:6px;
        padding-bottom:5px;
        padding-left:40px;
    }
    .car_detail_content_title{
        height:140px;
        background-color:rgba(255,255,255,0.8);
        padding-top:20px;
        box-shadow: 0px 1px 1px #E6E7EB;
        padding-bottom: 20px;
        z-index:2;
    }
    .car_detail_divider{
       height:1px;
       padding:0;
       margin:0;
       margin-top:25px;
       background-color:#bdbdbd;
/*
       background: -o-linear-gradient(right, rgba(200,200,200,0.0), rgba(100,100,100,0.2), rgba(200,200,200,0.0));
    background: -moz-linear-gradient(right, rgba(200,200,200,0.0), rgba(100,100,100,0.2), rgba(200,200,200,0.0));
    background: linear-gradient(to right, rgba(200,200,200,0.0), rgba(100,100,100,0.2), rgba(200,200,200,0.0));
*/
    }
    .content_divider_line{
       height:1px;
       padding:0;
       margin:0;
       margin-top:30px;
       margin-bottom:30px;
       background: -o-linear-gradient(right, rgba(200,200,200,0.0), rgba(100,100,100,0.2), rgba(200,200,200,0.0));
       background: -moz-linear-gradient(right, rgba(200,200,200,0.0), rgba(100,100,100,0.2), rgba(200,200,200,0.0));
       background: linear-gradient(to right, rgba(200,200,200,0.0), rgba(100,100,100,0.2), rgba(200,200,200,0.0));
    }
    .s1{
        visibility: hidden;
        background-color:rgba(0,0,0,0.4);
        position:relative;
        top:-110px;
        height:110px;
        padding-top: 22px;
        -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    }
    .car_detail_content{
        height:auto;
        padding-top:30px;
        background-color:rgb(240,240,240);
        z-index:1;
    }
    .price_chart{
       position: relative;    
       width:320px;
       height:405px;
       padding-top:20px;
       background-color:white;
       box-shadow:2px 2px 2px 0 #E6E7EB;
    }
    .price_chart_mobile{
        background-color:#F9F9FB;
        padding-top:20px;
        padding-bottom:40px;
    }
    .car_detail_vehicle_details_subtitle{
        font-size:20px;
        color:#4A90E2;
    }
    .car_detail_vehicle_details_content_item{
        margin-top:5px !important;
        margin-bottom:5px !important;
    }
    .car_detail_vehicle_details_content_item_key{
        color: #a4a4a4;
        font-size:14px;
    }
    .car_detail_vehicle_details_content_item_value{
        font-size:14px;
    }
    .car_detail_content_list{
        margin-top:-21px !important;
        padding-top:38px !important;
        margin-left:-13px !important;
        background-color: #fff;
        height:auto;
        min-height:1000px;
        padding-bottom:20px;
        border:1px solid #E6E7EB;
        padding-left:40px !important;
    }
    .car_detail_content_list_mobile{
        background-color:#F9F9FB;
        padding-left:20px;
    }
    .car_detail_vehicle_details_content_report{
        font-size:14px;
        color:rgba(74,144,226,0.8);
        cursor:pointer;
    }
    .car_detail_vehicle_details_content_auto_genius{
		   
    }
    .car_detail_vehicle_details_content_report:hover{
        color:rgba(74,144,226,1);
    }
    .car_detail_vehicle_details_content_auto_genius_img{
	    width:80px;
	    height:80px;
	    border-radius: 40px;
	    background-position: center center;
	    background-size:cover;
	    border:1px solid rgba(0,0,0,0.4);
    }
    .car_detail_vehicle_details_content_auto_genius_list > span{
	    font-size: 14px !important;
	    color:rgba(0,0,0,0.8) !important;
	    line-height: 25px;
	    vertical-align: middle;
    }
    .car_detail_vehicle_details_content_auto_genius_list span:nth-child(1){
	    font-weight: 400 !important;
	    font-size: 16px !important;
	    color:black !important;
    }
	.car_detail_title_price{
		width: auto;
        min-width:260px;
		padding: 2px;
		font-size: 64px;
		font-weight: 400;
		color:rgb(74,144,226);
		text-align: center;
		
		position: relative;
		top:10px;
        height:87px;
        left:10px;
	}
	.car_detail_title_price_detail{
		color: rgb(74,144,226);
		font-size: 20px;
		width: 30px;
		padding: 0 !important;
		text-align: center;
		margin: 0;
		position: relative;
		top:-20px;
		padding-left: 10px;
		cursor: pointer;
		background: transparent !important;
		outline: none;
		border: none;
        left:210px;
        z-index:999;
	}

	.car_detail_title_price_detail_list_ul{
		width: 120px;
		height:100px;
		border: 1px solid #bdbdbd;
		padding-left: 0;
		z-index: 99;
		position: relative;
		left:240px;
		padding-left:10px;
		border-radius: 5px;
		box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
		display:none;
        background-color:white;
	}
    .car_detail_title_price_detail_ul{
        width:30px;
        height:30px;
        float:left;
    }
	.car_detail_title_price_detail_ul:hover .car_detail_title_price_detail_list_ul{
		display:block !important;
	}
    .price_up{
        color:rgb(10, 10, 10);
        font-size:15px;
    }
    .price_down_0{
        text-align:left;
        position:relative;
        top:-57px;
        color:rgb(10, 10, 10);
        font-size:15px;
    }
    .price_down_1{
        text-align:right;
        position:relative;
        top:-57px;
        color:rgb(10, 10, 10);
        font-size:15px;
    }
    .test_drive_btn{
        width: 280px;
        height:50px;
        line-height:46px;
        font-size:24px;
        vertical-algin:middle;
        border-radius:5px;
        color:rgb(74,144,226);
        border: 2px solid rgb(74,144,226);
        margin-bottom:12px;
        -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        cursor:pointer;
    }
    .test_drive_btn:hover{
        color:#3171BA;
        border-color:#3171BA;
    }
    .buy_me_btn{
        cursor:pointer;
        width: 280px;
        height:50px;
        line-height:50px;
        font-size:24px;
        vertical-algin:middle;
        border-radius:5px;
        background-color:rgb(74,144,226);
        color:white;
        -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
/*        border: 1px solid rgb(74,144,226);*/
    }
    .buy_me_btn:hover{
        background-color:#3171BA;
    }
  .all-to-none{
      margin: 0;
      padding: 0;
  }
  header{
      width: 100%;
      position: fixed;
      height: 50px;
      line-height: 50px;
      vertical-align: middle;
      text-align: center;
      background: transparent;
      z-index: 999;
      transition: padding 0.5s ease, background 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
  }
  .nav_title{
      color: rgb(74,144,226);
      font-size: 18px;
      font-weight:800;
  }
  .nav_item{
    height:50px;
    line-height: 50px;
    vertical-align: middle;
    color:white;
    font-size: 13px; 
  }
  .nav_item > a > div{
    opacity: 0.9;
    color:white;

  }
  .nav_item > div > a:hover{
  	opacity: 1;
  	text-decoration: none;
  }
  .nav_item > a > div:hover{
    opacity: 1;
  }
  .nav_item > a > div{
    cursor: pointer;
    color: rgb(74,144,226);
    font-weight:500;
  }
  .signUpBtn{
    background-color: rgb(74,144,226);
    height:24px;
    line-height: 25px;
    vertical-align: middle;
    text-align: center;
    position: relative;
    top:12px;
    border-radius: 12px;
    color:white;
    opacity: 0.9;
    cursor: pointer;
    transition: padding 0.5s ease, background 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
  }
  .signUpBtn > span > a{
	  color:white;
	  opacity: 0.9;
  }
  .signUpBtn:hover{
	  opacity: 1;
	  
  }
  .signUpBtn:hover a{
	  text-decoration: none;
  }
  .nav_item > div > a{
	height:80px;
    line-height: 80px;
    vertical-align: middle;
    color:white;
    font-size: 13px;
    opacity: 0.9;
  }
  .signInBtn{
	  cursor: pointer;
      color: rgb(74,144,226);
      font-weight:500;
  }

    .our_price span:nth-child(1){
        color:#4A90E2;
        font-size:18px;
        font-weight:500;
    }
    .our_price span:nth-child(2){
        color:#4a90E2;
        font-size:12px;
        font-weight:500;
    }
    .market_price{
        width:140px;
        position: relative;
        top: -143px;
        left:115px;
    }

    @media screen and (min-width:991px){
        .car_detail_left{
            width:66.67%;
            float:left;
        }
        .car_detail_right{
            width:33.33%;
            float:left;
        }
        .car_detail_nav_left{
            width:66.67%;
            float:left;
        }
        .car_detail_nav_right{
            width:32.33%;
            float:left;
        }
    }
    
    @media screen and (min-width:1135px){
        .car_detail_left{
            width:70%;
            float:left;
        }
        .car_detail_right{
            width:30%;
            float:left;
        }
        .car_detail_nav_left{
            width:66.67%;
            float:left;
        }
        .car_detail_nav_right{
            width:33.33%;
            float:left;
        }
    }
    @media screen and (min-width:1230px){
        .car_detail_left{
            width:73%;
            float:left;
        }
        .car_detail_right{
            width:20%;
            float:left;
        }
        .car_detail_nav_left{
            width:66.67%;
            float:left;
        }
        .car_detail_nav_right{
            width:33.33%;
            float:left;
        }
    }
    
    @media screen and (min-width:1250px) {
        .car_detail_left{
            width:75%;
            float:left;
        }
        .car_detail_right{
            width:20%;
            float:left;
        }
        .car_detail_nav_left{
            width:70%;
            float:left;
        }
        .car_detail_nav_right{
            width:30%;
            float:left;
        }
    
    }

    @media screen and (min-width:1350px){
        .car_detail_left{
            width:74%;
            float:left;
        }
        .car_detail_right{
            wdith:20%;
            float:left;
        }
        .car_detail_nav_left{
            width:70%;
            float:left;
        }
        .car_detail_nav_right{
            width:30%;
            float:left;
        }
    }
    
    @media screen and (min-width:1400px){
        .car_detail_left{
            width:78%;
            float:left;
        }
        .car_detail_right{
            width:22%;
            float:left;
        }
        .car_detail_nav_left{
            width:80%;
            float:left;
        }
        .car_detail_nav_right{
            width:20%;
            float:left;
        }
    }
    @media screen and (min-width:1550px){
        .car_detail_left{
            width:80%;
            float:left;
        }
        .car_detail_right{
            width:18%;
            float:left;
        }
        .car_detail_nav_left{
            width:78%;
            float:left;
        }
        .car_detail_nav_right{
            width:20%;
            float:left;
        }
    }
    
    .market_price span:nth-child(1){
        color:#3a3d42;
        font-size:14px;
        font-weight:500;
    }
    .market_price span:nth-child(2){
        color:#7B808c;
        font-size:12px;
        font-weight:500;
    }
    .dealer_price{
        width:140px;
        position: relative;
        left: 84px;
        top: -46px;
    }
    .dealer_price:nth-child(1){
        font-size:14px;
        color:#7B808c; 
        font-weight:500;
    }
    .dealer_price:nth-child(2){
        font-size:12px;
        color:#7B808c; 
        font-weight:500;
    }
    .price_button_container{
        position:relative;
        top:-20px;
    }
    .highlight_check{
        color:rgb(106,185,108);
        font-size:18px;
        position:relative;
        left:5px;
    }
    .car_detail_title_mobile{
        height:77px;  
        padding-left:20px;
        margin-bottom:10px;
    }
    
    .car_detail_title_mobile_0{
        margin-top:15px;
        line-height:17px;
        vertical-align:middle;
        font-size:20px;
        color:#3A3D42;
        padding-left:0;
        margin-bottom:5px;
    }
    .car_detail_title_mobile_1{
        color:#7B808C;
        line-height:15px;
        vertical-align:middle;
        font-size:14px;
        margin-top:5px;
        padding-left:0;
        padding-right:0;
        
    }
    .car_detail_vehicle_details_subtitle_mobile{
        margin-bottom:7px;
    }
    .car_detail_vehicle_details_subtitle_mobile{
        margin-top:-10px;
        padding-top:40px;
    }
    .mobile_price_box{
        width:280px;
        height:35px;
        background-color:#6C788E;
        border-radius:3px;
        color:white;
        line-height:35px;
        vertical-align:middle;
        text-align:center;
        font-size:14px;
    }
    .mobile_price_box{
        margin-bottom:20px;
    }
    .highlight_logo{
        width:50px;
        height:50px;
        margin:0 35px 30px 0;
        float:left;
        background-size:50px auto;
        background-repeat:no-repeat;
        background-position: center center;
        display:none;
    }
    .highlight_logo_2{
        background-size:37px auto;
    }
    .highlight_logo_3{
        background-size:34px auto;
    }
    .highlight_logo_12{
        background-size:43px auto;
    }
    .highlight_logo_13, .highlight_logo_14, .highlight_logo_15{
        background-size:47px auto;
    }
    .highlight_logo_18{
        background-size:40px auto;
    }
    .report_img_box{
        width:275px;
        height:160px;
        float:left;
        border-radius:5px;
        margin-bottom:15px;
    }
    .img1{
        display:none;
    }
    .report_img_box:hover .img0{
        display:none;
    }
    .report_img_box:hover .img1{
        display:block;
    }
    .report_img_box:hover{
        box-shadow:0 1px 1px #CED1D9;
    }
    .peace_img_box{
        width:275px;
        height:200px;
        float:left;
        border-radius:5px;
        margin-bottom:15px;
    }
    .peace_text{
        font-size: 10px;
        color: #3A3D42;
        width: 70px;
        text-align: center;
        position: relative;
        top: -150px;
        font-weight:600;
        line-height:12px;
    }
    .comment_upper_box{
        min-width:70px;
        width:auto;
        height:25px;
        background-color: rgba(58, 61, 66, 0.9);
        color:white;
        font-size:16px;
        text-align:center;
        line-height:26px;
        vertical-align:middle;
        border-radius:5px;
        padding-left:15px;
        padding-right:15px;
        -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        white-space: nowrap ;
    }
    
    .arrow-down {
        width: 0; 
        height: 0; 
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 10px solid rgba(58, 61, 66, 0.9);
        margin-top:-2px;
        -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    }
    .comment_box{
        display:none;
        width:100px;
        margin:-35px 0 0 -24px;
    }
    .highlight_logo:hover .comment_box{
        display:block;
        -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    }
    .show_more_btn{
        font-size:14px;
        width:100px;
        height:20px;
        line-height:20px;
        text-align:left;
        vertical-align:middle;
        color: #4A90E2;
        cursor:pointer;
/*        display:none;*/
    }
    .car_overview_hidden_part{
        display:none;
    }
</style>
<div role="main" class="main shop" style="overflow-x:hidden !important;">
    <% m = @car.car_model %>
    <div class="col-xs-12 all-to-none">
        <div class="banner_container col-md-12 col-lg-12 all-to-none">
            <div class="swiper-container gallery-top s0">
                <div class="swiper-wrapper">
                    <% pics = @car.car_pictures.sort { |a, b| a.picture.url <=> b.picture.url } %>
                    <% pics.each do |p| %>
                        <div class="swiper-slide">
                            <div class="swiper_img" style="background-image:url('<%= p.picture.url %>');">
                            </div>
                        </div>
                    <% end %>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
            </div>
            <div class="swiper-container gallery-thumbs s1 hidden-sm hidden-xs">
                <div class="swiper-wrapper">
                    <% pics.each do |p| %>
                        <div class="swiper-slide">
                            <div class="swiper_img" style="background-image:url('<%= p.picture.url %>');">
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 car_detail_content_title hidden-sm hidden-xs" align="center">
    <div class="car_detail">
        <div class="col-xs-12" style="height:57px; padding-left:0; padding-right:0;">
            <span class='car_detail_title car_detail_nav_left'>
                <%= m.year %> <%= m.make %> <%= m.model %>
                <div class="fb-share-button" data-href="<%= request.original_url %>" data-layout="button_count"></div>
            </span>
            <div class="car_detail_nav_right" align='center'>
                <div class="car_detail_title_price">
                $ <%= number_with_delimiter(@car.price) %>
            </div>
                <ul class="car_detail_title_price_detail_ul">
                <li class="col-xs-12 car_detail_title_price_detail dropdown-toggle btn btn-default dropdown-toggle"  aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-question-circle"></i>
                </li>
            </ul>
            </div>
        </div>
        <div class="col-xs-12" style="padding-left:0;">
            <span class='car_detail_subtitle col-xs-11'>
                <%= @car.mileage %> Miles | <%= m.body %> | <%= m.transmission %>
            </span>
        </div>
        <div class="col-xs-12" style="padding-left:0;">
            <span class='car_detail_subtitle col-xs-5' style="position:relative; top:-9px;">
                <%= @car.city%>, <%= @car.state%>
            </span>
        </div>
    </div> 
</div>
    
    <div class="car_detail_content col-xs-12 hidden-sm hidden-xs" align="center">
    <div class="car_detail">
        <div class="car_detail_left all-to-none" style="padding-left:0px;text-align:left;">
            <div class="col-xs-12 car_detail_content_list  all-to-none">
                <div class="col-xs-12 car_detail_vehicle_details  all-to-none">
                    <div class="col-xs-3 car_detail_vehicle_details_subtitle">
                        <%=t :buy_car_highlights%>
                    </div>
                    <div class="col-xs-9 car_detail_vehicle_details_content all-to-none">
                        <%(0..18).step(1) do |index|%>
                            <% url = 'asset_path' + ' "highlight_logo/highlight_' + index.to_s + '"'%>
                            <div class="highlight_logo highlight_logo_<%= index %>" id="logo_<%= index %>" style="background-image:url(<%= asset_path 'highlight_logo/highlight_' + index.to_s %>)">
                                <div class="comment_box" align="center">
                                    <span class="comment_upper_box" id="comment_text_<%= index.to_s %>">
                                        
                                    </span>
                                    <div class="arrow-down">
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
                <div class="col-xs-12 content_divider_line">
                </div>
                <div class="col-xs-12 car_detail_vehicle_details all-to-none">
                    <div class="col-xs-3 car_detail_vehicle_details_subtitle">
                        <%=t :buy_car_details %>
                    </div>
                    <div class="col-xs-9 car_detail_vehicle_details_content all-to-none">
                        <div class="col-xs-6 all-to-none car_detail_vehicle_details_content_item all-to-none">
                            <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_key">
                                <%=t :buy_car_mileage %>
                            </span>
                            <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_value"  id="car_overview_0">
                                <%= @car.mileage %>
                            </span>
                        </div>
                        <div class="col-xs-6 all-to-none car_detail_vehicle_details_content_item all-to-none">
                            <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_key">
                                <%=t :buy_car_exteror_color %>
                            </span>
                            <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_value"  id="car_overview_1">  
                                <%= @car.ext_color %> 
                            </span>
                        </div>
                        <div class="col-xs-6 all-to-none car_detail_vehicle_details_content_item all-to-none">
                            <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_key">
                                <%=t :buy_car_engine %>
                            </span>
                            <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_value" id="car_overview_2">
                               
                            </span>
                        </div>
                        <div class="col-xs-6 all-to-none car_detail_vehicle_details_content_item all-to-none">
                            <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_key">
                                <%=t :buy_car_interor_color %>
                            </span>
                            <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_value" id="car_overview_3">
                                <%= @car.int_color %>
                            </span>
                        </div>
                        <div class="col-xs-6 all-to-none car_detail_vehicle_details_content_item all-to-none">
                            <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_key">
                                <%=t :buy_car_body_style %>
                            </span>
                            <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_value" id="car_overview_4">
                                <%= m.body %>
                            </span>
                        </div>
                        <div class="col-xs-6 all-to-none car_detail_vehicle_details_content_item all-to-none">
                            <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_key">
                                <%=t :buy_car_transmission %>
                            </span>
                            <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_value" id="car_overview_5">
                                <%= m.transmission %>
                            </span>
                        </div>
                        <div class="col-xs-6 all-to-none car_detail_vehicle_details_content_item all-to-none">
                            <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_key">
                                <%=t :buy_car_epa_style %>
                            </span>
                            <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_value" id="car_overview_6">
                                
                            </span>
                        </div>
                        <div class="col-xs-6 all-to-none car_detail_vehicle_details_content_item all-to-none">
                            <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_key">
                                <%=t :buy_car_drivetrain %>
                            </span>
                            <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_value" id="car_overview_7">
                                
                            </span>
                        </div>
                        <div class="col-xs-6 all-to-none car_detail_vehicle_details_content_item all-to-none">
                            <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_key">
                                <%=t :buy_car_max_seating %>
                            </span>
                            <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_value" id="car_overview_8">
                                
                            </span>
                        </div>
                        <div class="col-xs-6 all-to-none car_detail_vehicle_details_content_item all-to-none">
                            <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_key">
                                <%=t :buy_car_horsepower %>
                            </span>
                            <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_value" id="car_overview_9">
                                
                            </span>
                        </div>
                        <div class="col-xs-6 all-to-none car_detail_vehicle_details_content_item all-to-none">
                            <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_key">
                                <%=t :buy_car_doors %>
                            </span>
                            <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_value" id="car_overview_10">
                                
                            </span>
                        </div>
                        <div class="col-xs-6 all-to-none car_detail_vehicle_details_content_item all-to-none">
                            <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_key">
                                <%=t :buy_car_fuel_type %>
                            </span>
                            <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_value" id="car_overview_11">
                                
                            </span>
                        </div>
                        <div class="col-xs-6 all-to-none car_detail_vehicle_details_content_item all-to-none">
                            <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_key">
                                <%=t :buy_car_fuel_economy %>
                            </span>
                            <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_value" id="car_overview_12">
                                
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 content_divider_line">
                </div>
                <div class="col-xs-12 car_detail_vehicle_details all-to-none">
                    <div class="col-xs-3 car_detail_vehicle_details_subtitle">
                        <%=t :buy_car_reports%>
                    </div>
                    <div class="col-xs-9 car_detail_vehicle_details_content all-to-none">
                        <div class="col-xs-12 all-to-none car_detail_vehicle_details_content_item all-to-none">
                            <a target="_blank" href="<%= @car.checklistpdf %>">
                                <div class="report_img_box" style="margin-right:15px;">
                                    <img class="img0" src="<%= asset_path 'report_img/report_0' %>" width="275" height="160px;">
                                    <img class="img1" src="<%= asset_path 'report_img/report_0_hover' %>" width="275" height="160px;">
                                </div>
                            </a>
                            <a target="_blank" href="<%= @car.autocheck %>">
                                <div class="report_img_box">
                                    <img class="img0" src="<%= asset_path 'report_img/report_1' %>"  width="275" height="160px;">
                                    <img class="img1" src="<%= asset_path 'report_img/report_1_hover' %>"  width="275" height="160px;">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 content_divider_line">
                </div>
                <div class="col-xs-12 car_detail_vehicle_details all-to-none">
                    <div class="col-xs-3 car_detail_vehicle_details_subtitle">
                        <%=t :buy_car_options %>
                    </div>
                    <div class="col-xs-9 car_detail_vehicle_details_content all-to-none car_detail_vehicle_details_content_0">
                    </div>
                </div>
                
                
                
                
                <!--show more button box-->
                <div class="col-xs-12 car_detail_vehicle_details all-to-none">
                    <div class="col-xs-3 car_detail_vehicle_details_subtitle">
                    </div>
                    <div class="col-xs-9 car_detail_vehicle_details_content all-to-none">

                        <div class="col-xs-12 all-to-none">
                            <div class="show_more_btn" id="showMore">
                                <i class="fa fa-plus"></i> Show More
                            </div>
                        </div>
                    </div>
                </div>
                <!--show more button box-->
                
                
                
                
                <div class="col-xs-12 car_detail_vehicle_details all-to-none car_overview_hidden_part">
                    <div class="col-xs-3 car_detail_vehicle_details_subtitle">
                    </div>
                    <div class="col-xs-9 car_detail_vehicle_details_content all-to-none car_detail_vehicle_details_content_1">

                        <div class="col-xs-12 all-to-none">
                            <div class="show_more_btn" id="showLess">
                                <i class="fa fa-minus"></i> Show Less
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 content_divider_line">
                </div>
                <div class="col-xs-12 car_detail_vehicle_details all-to-none">
                    <div class="col-xs-3 car_detail_vehicle_details_subtitle">
                        <%=t :buy_auto_genius%>
                    </div>
                    <div class="col-xs-9 car_detail_vehicle_details_content all-to-none">
                        <div class="col-xs-12 all-to-none car_detail_vehicle_details_content_item all-to-none" style="position: relative; top:-4px;">
                            <div class="col-xs-12 all-to-none car_detail_vehicle_details_content_auto_genius">
                                <div class="col-xs-3 all-to-none">
                                    <div class="car_detail_vehicle_details_content_auto_genius_img" style="background-image:url(<%= @car.expert.avatar%>)">
                                    </div>
                                </div>
                                <div class="col-xs-7 car_detail_vehicle_details_content_auto_genius_list">
                                    <span class="col-xs-12 all-to-none ">
                                        <%= @car.expert.name%>
                                    </span>
                                    <span class="col-xs-12 all-to-none">
                                        <%= @car.expert.experience%> <%=t :buy_year_experience%>
                                    </span>
                                    <span class="col-xs-12 all-to-none">
                                        Tripalink <%=t :buy_certificated%>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-xs-12 content_divider_line">
                </div>
                <div class="col-xs-12 all-to-none car_love_box">
                </div>
                <div class="col-xs-12 car_detail_vehicle_details all-to-none" style="margin-bottom:120px;">
                    <div class="col-xs-3 car_detail_vehicle_details_subtitle">
                        <%=t :buy_car_peace%>
                    </div>
                    <div class="col-xs-9 car_detail_vehicle_details_content all-to-none">
                        <div class="col-xs-12 all-to-none car_detail_vehicle_details_content_item all-to-none">
                            
                            <div class="peace_img_box" style="margin-right:15px;" align="center">
                                <img src="<%= asset_path 'peace/peace_img_0' %>" width="275" height="200px;">
                                <div class="peace_text">
                                    <%= m.make %>
                                </div>
                            </div>


                            <div class="peace_img_box">
                                <img src="<%= asset_path 'peace/peace_img_1' %>"  width="275" height="200px;">

                            </div>
                            
                        </div>
                        <div class="col-xs-12 all-to-none car_detail_vehicle_details_content_item all-to-none">
                            
                            <div class="peace_img_box" style="margin-right:15px;">
                                <img src="<%= asset_path 'peace/peace_img_2' %>" width="275" height="200px;">

                            </div>


                            <div class="peace_img_box">
                                <img src="<%= asset_path 'peace/peace_img_3' %>"  width="275" height="200px;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="car_detail_right all-to-none" style="height:1000px; margin-top:-30px;text-align:left;">
            <div class="col-xs-12 price_chart" align="center" style="position:relative; top:10px;">
                <div class="col-xs-12 our_price" align='center'>
                    <span class="col-xs-12">
                        $<%= number_with_delimiter(@car.price) %>
                    </span>
                    <span class="col-xs-12">
                        Tripalink <%=t :buy_best_offer%>
                    </span>
                </div>
                <img src='<%= asset_path "buypage/Price_Buy.png"%>' width="224" height='141'/>
                <div class="market_price" align='center'>
                    <span style="padding-right:10px;">
                        <del>$<%= number_with_delimiter(@car.price_kbb_suggest_retail) %></del>
                    </span>
                    <span class="col-xs-12" style="padding-right:24px;">
                        <%=t :buy_market_price%>
                    </span>
                </div>
                <div class="dealer_price" align='center'>
                    <span class="col-xs-12">
                        <del>$<%= number_with_delimiter(@car.price_kbb_max_retail) %></del>
                    </span>
                    <span class="col-xs-12">
                        <%=t :buy_dealer_price%>
                    </span>
                </div>
                <div class="col-xs-12 price_button_container all-to-none" align="center"> 
                    <% if not(expert_signed_in? or user_signed_in?) %>
                        <div class="test_drive_btn" id="test_drive_button"data-toggle="modal" data-target="#signUpModal">
                            <%=t :buy_test_drive %>
                        </div>
                        <div class="buy_me_btn " data-toggle="modal" data-target="#signUpModal">
                            <%=t :buy_buy_me %>
                        </div>
                    <% else %>
                    <a href="<%= new_appointment_path(car_id: @car.id) %>">
                        <div class="test_drive_btn" id="test_drive_button">
                            <%=t :buy_test_drive %>
                        </div>
                    </a>
                    <a href="<%= new_car_transaction_path(car_id: @car.id) %>">
                        <div class="buy_me_btn ">
                            <%=t :buy_buy_me %>
                        </div>
                    </a>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="col-xs-12 hidden-md hidden-lg car_detail_title_mobile">
        <span class='car_detail_title_mobile_0 col-xs-12'>
            <%= m.year %> <%= m.make %> <%= m.model %>
        </span>
        <span class='car_detail_title_mobile_1 col-xs-12'>
            <%= @car.mileage %> Miles | <%= m.body %> | <%= m.transmission %>
        </span>
        <span class="car_detail_title_mobile_1 col-xs-12">
            <%= @car.city%>, <%= @car.state%>
        </span>
    </div>
    <div class="col-xs-12 hidden-md hidden-lg car_detail_content_list_mobile">
        <div class="col-xs-12 car_detail_vehicle_details all-to-none">
            <div class="col-xs-12 car_detail_vehicle_details_subtitle car_detail_vehicle_details_subtitle_mobile all-to-none">
                <%=t :buy_car_details %>
            </div>
            <div class="col-xs-12 car_detail_vehicle_details_content all-to-none">
                <div class="col-xs-12 all-to-none car_detail_vehicle_details_content_item all-to-none">
                    <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_key">
                        <%=t :buy_car_mileage %>
                    </span>
                    <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_value">
                        <%= @car.mileage %>
                    </span>
                </div>
                <div class="col-xs-12 all-to-none car_detail_vehicle_details_content_item all-to-none">
                    <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_key">
                        <%=t :buy_car_exteror_color %>
                    </span>
                    <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_value">
                        <%= @car.ext_color %>
                    </span>
                </div>
                <div class="col-xs-12 all-to-none car_detail_vehicle_details_content_item all-to-none">
                    <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_key">
                        <%=t :buy_car_body_style %>
                    </span>
                    <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_value">
                        <%= m.body %>
                    </span>
                </div>
                <div class="col-xs-12 all-to-none car_detail_vehicle_details_content_item all-to-none">
                    <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_key">
                        <%=t :buy_car_interor_color %>
                    </span>
                    <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_value">
                        <%= @car.int_color %>
                    </span>
                </div>
                <div class="col-xs-12 all-to-none car_detail_vehicle_details_content_item all-to-none">
                    <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_key">
                        <%=t :buy_car_engine_type %>
                    </span>
                    <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_value">
                        <%= m.engineType %>
                    </span>
                </div>
                <div class="col-xs-12 all-to-none car_detail_vehicle_details_content_item all-to-none">
                    <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_key">
                        <%=t :buy_car_transmission %>
                    </span>
                    <span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_value">
                        <%= m.transmission %>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 content_divider_line">
        </div>
        <div class="col-xs-12 car_detail_vehicle_details all-to-none">
            <div class="col-xs-12 car_detail_vehicle_details_subtitle all-to-none">
                <%=t :buy_car_highlights%>
            </div>
            <div class="col-xs-12 car_detail_vehicle_details_content all-to-none">
                <% @car.features.each do |feature| %>
                <div class="col-xs-12 all-to-none car_detail_vehicle_details_content_item all-to-none">
<!--
                    <span class="col-xs-6 all-to-none">

                    </span>
-->
                    <span class="col-xs-12 all-to-none">
                        <%= feature.name %> <i class="fa fa-check highlight_check"></i>
                    </span>
                </div>
                <% end %>                         
            </div>
        </div>
        <div class="col-xs-12 content_divider_line">
        </div>
        <div class="col-xs-12 car_detail_vehicle_details all-to-none">
            <div class="col-xs-3 car_detail_vehicle_details_subtitle all-to-none">
                <%=t :buy_car_reports%>
            </div>
            <div class="col-xs-12 car_detail_vehicle_details_content all-to-none">
                <div class="col-xs-12 all-to-none car_detail_vehicle_details_content_item all-to-none">
                    <a target="_blank" href="<%= @car.checklistpdf %>">
                        <div class="col-xs-12 all-to-none car_detail_vehicle_details_content_report">
                            Tripalink Report
                        </div>
                    </a>
                    <a target="_blank" href="<%= @car.autocheck %>">
                        <div class="col-xs-12 all-to-none car_detail_vehicle_details_content_report">
                            AutoCheck Report
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 content_divider_line">
        </div>
        <div class="col-xs-12 car_detail_vehicle_details all-to-none">
            <div class="col-xs-12 car_detail_vehicle_details_subtitle car_detail_vehicle_details_subtitle_mobile all-to-none">
                <%=t :buy_auto_genius%>
            </div>
            <div class="col-xs-12 car_detail_vehicle_details_content all-to-none">
                <div class="col-xs-12 all-to-none car_detail_vehicle_details_content_item all-to-none" style="position: relative; top:-4px;">
                    <div class="col-xs-12 all-to-none car_detail_vehicle_details_content_auto_genius">
                        <div class="col-xs-3 all-to-none">
                            <div class="car_detail_vehicle_details_content_auto_genius_img" style="background-image:url(<%= @car.expert.avatar%>)">
                            </div>
                        </div>
                        <div class="col-xs-7 car_detail_vehicle_details_content_auto_genius_list">
                            <span class="col-xs-12 all-to-none ">
                                <%= @car.expert.name%>
                            </span>
                            <span class="col-xs-12 all-to-none">
                                <%= @car.expert.experience%> <%=t :buy_year_experience%>
                            </span>
                            <span class="col-xs-12 all-to-none">
                                Tripalink <%=t :buy_certificated%>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 content_divider_line">
        </div>
    </div>
    <div class="col-xs-12 hidden-md hidden-lg price_chart_mobile" align="center">
        <div class="mobile_price_box">
            $<%= number_with_delimiter(@car.price) %> + Tax & Fees
        </div>
        <div class="col-xs-12 our_price" align='center'>
            <span class="col-xs-12">
                $<%= number_with_delimiter(@car.price) %>
            </span>
            <span class="col-xs-12">
                Tripalink <%=t :buy_best_offer%>
            </span>
        </div>
        <img src='<%= asset_path "buypage/Price_Buy.png"%>' width="224" height='141'/>
        <div class="market_price" align='center'>
            <span class="col-xs-12 all-to-none">
                $<%= number_with_delimiter(@car.price_kbb_suggest_retail) %>
            </span>
            <span class="col-xs-12 all-to-none">
                <%=t :buy_market_price%>
            </span>
        </div>
        <div class="dealer_price" align='center'>
            <span class="col-xs-12">
                $<%= number_with_delimiter(@car.price_kbb_max_retail) %>
            </span>
            <span class="col-xs-12">
                <%=t :buy_dealer_price%>
            </span>
        </div>
        <div class="col-xs-12 price_button_container" align="center"> 
            <% if not(expert_signed_in? or user_signed_in?) %>
                <div class="test_drive_btn" id="test_drive_button"data-toggle="modal" data-target="#signUpModal">
                    <%=t :buy_test_drive %>
                </div>
                <div class="buy_me_btn " data-toggle="modal" data-target="#signUpModal">
                    <%=t :buy_buy_me %>
                </div>
            <% else %>
            <a href="<%= new_appointment_path(car_id: @car.id) %>">
                <div class="test_drive_btn" id="test_drive_button">
                    <%=t :buy_test_drive %>
                </div>
            </a>
            <a href="<%= new_car_transaction_path(car_id: @car.id) %>">
                <div class="buy_me_btn ">
                    <%=t :buy_buy_me %>
                </div>
            </a>
            <% end %>
        </div>
    </div>
</div>

<%= javascript_include_tag "swiper/swiper.min.js"%>
<script>
    $(document).ready(function() {
          var galleryTop = new Swiper('.gallery-top', {
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                spaceBetween: 10,
          });
          var galleryThumbs = new Swiper('.gallery-thumbs', {
                spaceBetween: 10,
                centeredSlides: true,
                slidesPerView: 'auto',
                touchRatio: 0.2,
                slideToClickedSlide: true
          });
          galleryTop.params.control = galleryThumbs;
          galleryThumbs.params.control = galleryTop;
          $(window).scroll(function(){
              var scrollTop = $(window).scrollTop();
              if(scrollTop >= 900) {
                $('.price_chart').css('position','fixed');
                $('.price_chart').css('top','50px');
              }
              else{
                $('.price_chart').css('position','relative');
                $('.price_chart').css('top','10px');
              }
          });
            //get the car detail
          var car_id = '<%= @car.id%>';
          $.ajax({
                url: './car_detail?id=' + car_id,
                type: 'get',
                dataType: 'json',
                success:function(json){
                    var count = 0;
                    var car_options_len = Object.keys(json['highlights']).length;
                    console.log(JSON.stringify(json['options']['Braking and Traction']));
                    //heighlight logos
                    if(JSON.stringify(json['options']).indexOf('Braking and Traction') > 1){
                        if(JSON.stringify(json['options']['Braking and Traction']).indexOf('ABS') > -1){
                            $('#logo_1').css('display','block');
                            $('#comment_text_1').append('ABS (4-wheel)');
                        }
                    }
                    if(JSON.stringify(json['options']).indexOf('Comfort and Convenience') > 1){
                        if(JSON.stringify(json['options']['Comfort and Convenience']).indexOf('Key') > -1){
                            $('#logo_2').css('display','block');
                            $('#comment_text_2').append('Keyless Entry');
                        }
                    }
                    if(JSON.stringify(json['options']).indexOf('Entertainment and Instrumentation') > 1){
                        if(JSON.stringify(json['options']['Entertainment and Instrumentation']).indexOf('Navigation') > -1){
                            $('#logo_4').css('display','block');
                            $('#comment_text_4').append('Navigation System');
                        }
                        if(JSON.stringify(json['options']['Entertainment and Instrumentation']).indexOf('Bluetooth') > -1){
                            $('#logo_3').css('display','block');
                            $('#comment_text_3').append('Bluetooth');
                            $('#logo_8').css('display','block');
                            $('#comment_text_8').append('AUX');
                            $('#logo_10').css('display','block');
                            $('#comment_text_10').append('Steering Wheel Control');
                            $('#logo_16').css('display','block');
                            $('#comment_text_16').append('Premium Sound');
                        }
                    }
                    if(JSON.stringify(json['options']).indexOf('Safety and Security') > 1){
                        if(JSON.stringify(json['options']['Safety and Security']).indexOf('Parking') > -1){
                            $('#logo_5').css('display','block');
                            $('#logo_6').css('display','block');
                            $('#comment_text_5').append('Backup Camera');
                            $('#comment_text_6').append('Parking Sensors');
                        }
                    }
                    if(JSON.stringify(json['options']).indexOf('Roof and Glass') > 1){
                        if(JSON.stringify(json['options']['Roof and Glass']).indexOf('Moon') > -1){
                            $('#logo_7').css('display','block');
                            $('#comment_text_7').append('Moon Roof');
                        }

                        if(JSON.stringify(json['options']['Roof and Glass']).indexOf('Sun') > -1){
                            $('#logo_7').css('display','block');
                            $('#comment_text_7').append('Sun Roof');
                        }
                    }
                    if(JSON.stringify(json['options']).indexOf('Wheels and Tires') > 1){
                        if(JSON.stringify(json['options']['Wheels and Tires']).indexOf('Alloy') > -1){
                            $('#logo_11').css('display','block');
                            $('#comment_text_11').append('Alloy Wheels');
                        }
                        if(JSON.stringify(json['options']['Wheels and Tires']).indexOf('Premium') > -1){
                            $('#logo_17').css('display','block');
                            $('#comment_text_17').append('Premium Wheels');
                        }
                    }
                    if(JSON.stringify(json['options']).indexOf('Engine') > 1){
                        if(JSON.stringify(json['tech']['Engine']).indexOf('Turbo') > -1){
                            $('#logo_18').css('display','block');
                            $('#comment_text_18').append('Turbo');
                        }
                    }
                    if(JSON.stringify(json['options']).indexOf('Seats') > 1){
                        if(JSON.stringify(json['options']['Seats']).indexOf('Leather') > -1){
                            $('#logo_12').css('display','block');
                            $('#comment_text_12').append('Premium Leather Seating');
                        }
                        if(JSON.stringify(json['options']['Seats']).indexOf('Heated') > -1){
                            $('#logo_13').css('display','block');
                            $('#comment_text_13').append('Heated Seats');
                        }
                        if(JSON.stringify(json['options']['Seats']).indexOf('Cooled') > -1){
                            $('#logo_14').css('display','block');
                            $('#comment_text_14').append('Cooled Seats');
                        }
                        if(JSON.stringify(json['options']['Seats']).indexOf('Power') > -1){
                            $('#logo_15').css('display','block');
                            $('#comment_text_15').append('Dual Power Seats');
                        }
                    }
                    if(JSON.stringify(json['options']).indexOf('Lighting') > 1){
                        if(JSON.stringify(json['options']['Lighting']).indexOf('Daytime') > -1){
                            $('#logo_9').css('display','block');
                            $('#comment_text_9').append('Daytime Running Lights');
                        }
                    }
                    $.each(json['options'], function(key, value) {
                        var html = '';
                        html += '<div class="col-xs-6 all-to-none car_detail_vehicle_details_content_item all-to-none">';
                        html += '<span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_key">';
                        html += key;
                        html += '</span>';
                        html += '<span class="col-xs-6 all-to-none detail_value_' + (count++) + ' car_detail_vehicle_details_content_item_value">';
                        html += '</span>';
                        html += '</div>';
                        
                        $('.car_detail_vehicle_details_content_0').append(html)
                        
                        $.each(value, function(key, value) {
                            var html = '';
                            html += '<span class="col-xs-12 all-to-none">';
                            html += value;
                            html += '</span>'
                            $('.detail_value_' + (count - 1)).append(html);
                        })
                    })
                    count = 0;
                    $.each(json['highlights'], function(key, value) {
                        var html = '';
                        html += '<div class="col-xs-6 all-to-none car_detail_vehicle_details_content_item all-to-none">';
                        html += '<span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_key">';
                        html += key;
                        html += '</span>';
                        html += '<span class="col-xs-6 all-to-none detail_value_1_' + (count++) + ' car_detail_vehicle_details_content_item_value">';
                        html += value;
                        html += '</span>';
                        html += '</div>';
                        
                        $('.car_detail_vehicle_details_content_1').prepend(html)
                        
                    })
                    $.each(json['safety'], function(key, value) {
                        var html = '';
                        html += '<div class="col-xs-6 all-to-none car_detail_vehicle_details_content_item all-to-none">';
                        html += '<span class="col-xs-6 all-to-none car_detail_vehicle_details_content_item_key">';
                        html += key;
                        html += '</span>';
                        html += '<span class="col-xs-6 all-to-none detail_value_1_' + (count++) + ' car_detail_vehicle_details_content_item_value">';
                        html += value;
                        html += '</span>';
                        html += '</div>';
                        $('.car_detail_vehicle_details_content_1').prepend(html)
                    })
                    //add overview
                    console.log(json['highlights']);
                    $('#car_overview_2').html(json['highlights']['Engine']);
                    $('#car_overview_6').html(json['highlights']['EPA Class']);
                    $('#car_overview_7').html(json['highlights']['Drivetrain']);
                    $('#car_overview_8').html(json['highlights']['Max Seating']);
                    $('#car_overview_9').html(json['tech']['Horsepower']);
                    $('#car_overview_10').html(json['highlights']['Doors']);
                    $('#car_overview_11').html(json['tech']['Fuel Type']);
                    $('#car_overview_12').html(json['tech']['Fuel Economy']);
                }
          })
          $('#showMore').click(function(){
              $('.car_overview_hidden_part').css('display', 'block');
              $(this).css('display','none');
          })
          $('#showLess').click(function(){
              $('.car_overview_hidden_part').css('display', 'none');
              $('#showMore').css('display','block');
          })
          // love story
          $.ajax({
          
              url:"./car_love?id=<%= @car.id%>",
              type:'get',
              dataType: 'json',
              success:function(json){
                  console.log(json);
                  if(json['love'] === null) {
                      console.log('No Love Story of this car');
                  }else{
                      var html = '';
                      html += '<div class="col-xs-12 car_detail_vehicle_details all-to-none">';
                      html += '<div class="col-xs-3 car_detail_vehicle_details_subtitle">';
                      html += '<%=t :buy_car_lovestory %>';
                      html += '</div>';
                      html += '<div class="col-xs-9 car_detail_vehicle_details_content all-to-none" style="padding-right: 55px; text-align: justify;">';
                      html += json['love'];
                      html += '</div>';
                      html += '</div>';
                      html += '<div class="col-xs-12 content_divider_line">';
                      html += '</div>';
                      $('.car_love_box').append(html);
                  }
              }
          })
    
    });
    
</script>






























