<style>
    header{
        background-color: rgb(74,144,226);
    }
    .buy_car_container{
        height:auto;

    }
    .signUpBtn > span > a{
        color:rgb(74,144,226);
    }
    .nav_title, .nav_item > a > div{
        color:white;
    }
    .signInBtn{
        color:white;
    }
    .signUpBtn{
        color:rgb(74,144,226);
        background-color:white;
    }
</style>
<div class="easy_step_bar" align="center">
    <div class="bar_item_box">
        <div class="bar_item" id="easy_nav_1">
            <div class="number_circle" >
                1
            </div>
            <div class="done_circle">
                <i class="fa fa-check-circle"></i>
            </div>
            <div class="bar_item_title">
                填写订单
            </div>
        </div>
        <div class="bar_line" id="easy_nav_1_line">
        </div>
        <div class="bar_item" id="easy_nav_2">
            <div class="number_circle">
                2
            </div>
            <div class="done_circle">
                <i class="fa fa-check-circle"></i>
            </div>
            <div class="bar_item_title">
                缴费证明
            </div>
        </div>
        <div class="bar_line" id="easy_nav_2_line">
        </div>
        <div class="bar_item" id="easy_nav_3">
            <div class="number_circle">
                3
            </div>
            <div class="done_circle">
                <i class="fa fa-check-circle"></i>
            </div>
            <div class="bar_item_title">
                支付订单
            </div>
        </div>
    </div>
</div>
<% car = @easy_transfer.car %>
<div class="col-xs-12" align="center" style="background-color: #F9F9FB; height: 1160px;">
    <div class="step_main_content">
        <div class="step_1_content" style="display:<%= @easy_transfer.current_step <= 1 ? 'block' : 'none' %>">
            <%= form_for(@easy_transfer, :html => {:id => "step_1_form"}) do |f| %>
                <% if @easy_transfer.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@easy_transfer.errors.count, "error") %> prohibited this easy_transfer from being saved:</h2>

                      <ul>
                      <% @easy_transfer.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                <% end %>
                <div class="step_1_error_box">
                </div>
                <div class="step_1_box0">
                    <div class="step_1_box_title">
                        1. 支付信息
                    </div>
                    <div class='col-xs-12 all-to-none'>
                        <div class="input_content_left">
                            <div class="col-xs-12 input_content_left_row all-to-none" style="margin:0;">
                                <div class="input_content_left_title">
                                    收款方
                                </div>
                                <input type="text" required class="input_content_left_input" value="Tripalink, Corp" disabled/>
                                <input name="easy_transfer[car_id]" value="<%= car.id %>" style="display:none">
                                <div class="check_icon_box">
                                    <i class="fa fa-check-circle correct"></i>
                                    <i class="fa fa-times-circle wrong"></i>
                                </div>
                            </div>
                            <div class="col-xs-12 input_content_left_row all-to-none">
                                <div class="input_content_left_title">
                                    支付金额¥
                                </div>
                                <%= f.text_field :tuition_rmb, class:"input_content_left_input", placeholder:"人民币金额", value: number_with_delimiter(@easy_transfer.tuition_rmb), readOnly:"readOnly" %>
                                <div class="check_icon_box">
                                    <i class="fa fa-check-circle correct"></i>
                                    <i class="fa fa-times-circle wrong"></i>
                                </div>
                            </div>
                            <div class="col-xs-12 input_content_left_row all-to-none">
                                <div class="input_content_left_title">
                                    支付金额$
                                </div>
                                <%= f.text_field :tuition, class:"input_content_left_input", placeholder:"美元金额", value: number_with_delimiter(@easy_transfer.tuition), readOnly:"readOnly" %>
                                <div class="check_icon_box">
                                    <i class="fa fa-check-circle correct"></i>
                                    <i class="fa fa-times-circle wrong"></i>
                                </div>
                                <div class="col-xs-12 all-to-none checkbox_line">
                                    <input type="checkbox" class="input_content_left_checkbox" checked disabled>
                                    <div>附加$25.00足额到账费</div>
                                </div>
                            </div>
                            <div class="col-xs-12 input_content_left_row all-to-none">
                                <div class="input_content_left_title">
                                    优惠码
                                </div>
                                <%= f.text_field :promo_code, class:"input_content_left_input", placeholder:"如有优惠码，请填写" %>
                                <div class="check_icon_box">
                                    <i class="fa fa-check-circle correct"></i>
                                    <i class="fa fa-times-circle wrong"></i>
                                </div>
                            </div>
                        </div>

                        <div class="input_content_right">
                            <span>足额到账费</span>是资金在跨境转款时<span>由中间银行收取的手续费</span>。资金周转过程中，中间行会直接从您的转款金额里面自动扣除。例如您需要转款 $10,000 实际到达账户的金额是 $9,975 左右，在银行柜台电汇也是会有这个费用的。因此<span>如果您希望足额到账，请附加支付这部分费用</span>。也欢迎您到任何一家可以做外汇业务的银行核实该项费用的真实性。
                        </div>
                    </div>
                </div>
                <div class="step_1_box1">
                    <div class="step_1_box_title">
                        2. 学生基本信息
                    </div>
                    <div class='col-xs-12 all-to-none'>
                        <div class="input_content_left">
                            <div class="col-xs-12 input_content_left_row all-to-none" style="margin:0;">
                                <div class="input_content_left_title">
                                    中文姓名
                                </div>
                                <%= f.text_field :name_ch, class:"input_content_left_input input_test", placeholder:"请与身份证保持一致", tag:"0", required:"true" %>
                                <div class="check_icon_box">
                                    <i class="fa fa-check-circle correct correct_0"></i>
                                    <i class="fa fa-times-circle wrong wrong_0" id="wrong_name_ch"></i>
                                </div>
                            </div>
                            <div class="col-xs-12 input_content_left_row all-to-none">
                                <div class="input_content_left_title">
                                    姓名拼音
                                </div>
                                <%= f.text_field :name_en, class:"input_content_left_input input_test", placeholder:"姓名拼音", tag:"1", required:"true" %>
                                <div class="check_icon_box">
                                    <i class="fa fa-check-circle correct correct_1"></i>
                                    <i class="fa fa-times-circle wrong wrong_1" id="wrong_name_en"></i>
                                </div>
                            </div>
                            <div class="col-xs-12 input_content_left_row all-to-none">
                                <div class="input_content_left_title">
                                    身份证号
                                </div>
                                <%= f.text_field :student_id_number, class:"input_content_left_input input_test", placeholder:"身份证号码（可以用＊代替x）", tag:"2", required:"true", type:"tel" %>
                                <div class="check_icon_box">
                                    <i class="fa fa-check-circle correct correct_2"></i>
                                    <i class="fa fa-times-circle wrong wrong_2" id="wrong_student_id_number"></i>
                                </div>
                            </div>
                            <div class="col-xs-12 input_content_left_row all-to-none">
                                <div class="input_content_left_title">
                                    学号
                                </div>
                                <%= f.text_field :student_number, class:"input_content_left_input input_test", placeholder:"学生ID", tag:"3", required:"true", type:"tel" %>
                                <div class="check_icon_box">
                                    <i class="fa fa-check-circle correct correct_3"></i>
                                    <i class="fa fa-times-circle wrong wrong_3" id="wrong_student_number"></i>
                                </div>
                            </div>
                        </div>

                        <div class="input_content_right" style="height:100px;">
                            请您如实填写学生基本信息，以便我们进行确认，如果<span>信息不正确将延误到账时间</span>，可能会给您造成不必要的损失。<br>
                            <div style="padding-top:10px;">身份证号用于到外管局核实学生身份。</div> 
                        </div>
                    </div>
                </div>
                <div class="step_1_box2">

                    <div class="step_1_box_title">
                        3. 付款人信息
                    </div>
                    <div class='col-xs-12 all-to-none'>
                        <div class="input_content_left">
                            <div class="col-xs-12 input_content_left_row all-to-none" style="margin:0;">
                                <div class="input_content_left_title">
                                    中文姓名
                                </div>
                                <%= f.text_field :actual_payer_name, class:"input_content_left_input input_test", placeholder:"请填写付款人姓名", tag:"4", required:"true" %>
                                <div class="check_icon_box">
                                    <i class="fa fa-check-circle correct correct_4"></i>
                                    <i class="fa fa-times-circle wrong wrong_4" id="wrong_actual_payer_name"></i>
                                </div>
                            </div>
                            <div class="col-xs-12 input_content_left_row all-to-none">
                                <div class="input_content_left_title">
                                    手机号码
                                </div>
                                <%= f.text_field :actual_payer_mobile, class:"input_content_left_input input_test", placeholder:"请如实填写，以便与付款人保持联系", tag:"5", required:"true", type:"tel" %>
                                <div class="check_icon_box">
                                    <i class="fa fa-check-circle correct correct_5"></i>
                                    <i class="fa fa-times-circle wrong wrong_5" id="wrong_actual_payer_mobile"></i>
                                </div>
                            </div>
                            <div class="col-xs-12 input_content_left_row all-to-none">
                                <div class="input_content_left_title">
                                    电子邮箱
                                </div>
                                <%= f.text_field :actual_payer_email, class:"input_content_left_input input_test", placeholder:"请填写常用邮箱，用于到账提醒", tag:"6", required:"true", type:"email" %>
                                <div class="check_icon_box">
                                    <i class="fa fa-check-circle correct correct_6"></i>
                                    <i class="fa fa-times-circle wrong wrong_6" id="wrong_actual_payer_email"></i>
                                </div>
                            </div>
                        </div>

                        <div class="input_content_right" style="height:70px;">
                            <span>下单成功后，易思汇客服人员会电话与您核实</span>，以免因为输入错误造成不必要的麻烦 
                        </div>
                    </div>
                </div>
                <div class="submit_box" align="center">
                    <div class="submit_box_container">
                        <input type="checkbox" class="submit_checkbox" required>
                        <div>
                            同意《易思汇 学费代理支付服务协议》
                        </div>
                    </div>
                    <div class="col-xs-12" align='center'>
                        <input type="submit" class="submit_easy_order" value="提交订单" id="step_1_to_2_button">
                    </div>
                </div>
            <% end %>
            <div class="col-xs-12" align='center'>
                <a href="tel:18666864246">
                    <div class="paypage_footer">
                        <i class="fa fa-phone-square"></i> Have Questions? Call us at:(866)686-4246
                    </div>
                </a>
            </div>
        </div>
        <div class="step_2_content" style="display:<%= @easy_transfer.current_step == 2 ? 'block' : 'none' %>">
            <div class="step_2_error_box">
            </div>
            <div class="step_2_title col-xs-12 all-to-none">
                1. 上传缴费证明
            </div>
            <div class="step_2_left_box">
                <div class="upload_file_text">
                </div>
                <%= form_for(@easy_transfer, :html => {multipart:true, :id => "step_2_form", :class => "upload_area"}) do |f| %>
                    <%= f.file_field :attachment, id:"uploadi20", :required => true %>
                    <label class="uploader_box" for="uploadi20">
                        <img src="<%= asset_path 'easy_transfer/upload_icon.png' %>" class="uploader_img_icon" width="39px" height="28px">
                        <div class="col-xs-12 upload_text">
                            点击此
                        </div>
                        <div class="col-xs-12 upload_text">
                            或Choose File<span>选择文件上传</span>
                        </div>
                    </label>
                    <div class="col-xs-12" align="center">
                        <div style="width:260px; height:30px;">
                            <div class="upload_btn cancel_upload_btn">
                                取消上传
                            </div>
                            <input type="submit" class="upload_btn confirm_upload_btn" value="下一步" id="step_2_to_3_button">     
                        </div>
                    </div>
                <% end %>
                <img src="<%= asset_path 'easy_transfer/i20_img.jpg' %>" height='572px' width='404px' class="i20_img">
            </div>
            <div class="step_2_right_box">
                按照外管局备案要求，请上传任何一个证明您在校的依据以保证资金做留学用途，包括：录取通知书截图、学生账户缴费金额截图 或 I-20 表的截图。<br> <br>

如果您找不到证明材料，请联系我们 400-883-5056。<br> <br>

扫描或拍照均可，要求字迹清晰可辨认。
            </div>
            <div class="col-xs-12" align='center'>
                <a href="tel:18666864246">
                    <div class="paypage_footer">
                        <i class="fa fa-phone-square"></i> Have Questions? Call us at:(866)686-4246
                    </div>
                </a>
            </div>
        </div>

        <div class="step_4_content" style="display:<%= @easy_transfer.current_step == 4 ? 'block' : 'none' %>">
            <div class="confirmation_box_1" style="padding-top:40px;">
                <div class="step_2_title col-xs-12 all-to-none">
                    1. 支付方式
                </div>
                <div class="all-to-none confirmation_left_box">
                    <ul class="confirmation_ul" align="left">
                        <li class="col-xs-12">
                            <div class="confirmation_list_left">
                                付款方式
                            </div>
                            <div class="confirmation_list_right">
                                网银、柜台转账（支持所有银行）至易思会民生银行对公账户，由易思汇转账给Tripalink, Corp.
                            </div>
                        </li>
                        <li  class="col-xs-12">
                            <div class="confirmation_list_left">
                                到帐时间 
                            </div>
                            <div class="confirmation_list_right">
                                3－4工作日
                            </div>
                        </li>
                        <li  class="col-xs-12">
                            <div class="confirmation_list_left">
                                注意事项      
                            </div>
                            <div class="confirmation_list_right">
                                请使用银行借记卡，不支持信用卡。<br>
                                转帐／汇款时，请不要忽略小数点后面的金额，我们将以此为参考查找您的对帐信息。
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="confirmation_box_2">
                <div class="confirmation_box_final">
                    <ul class="confirmation_box_final_ul">
                        <li class="col-xs-12 all-to-none" style="margin-bottom:15px;">
                            <div class="confirmation_box_final_title">
                                支付金额
                            </div>
                            <div class="confirmation_box_final_detail confirmation_box_final_detail_price">
                                ¥<%= number_with_delimiter(@easy_transfer.tuition_rmb) %>&nbsp;&nbsp;
                                <span>
                                    注：请不要忽略小数点后面的金额，我们将以此为参考查找您的对账信息。
                                </span>
                            </div>
                            <div class="confirmation_box_final_detail confirmation_box_final_detail_price">
                                <span class="rmb_chinese"></span>
                            </div>
                        </li>
                        <li class="col-xs-12 all-to-none">
                            <div class="confirmation_box_final_title">
                                手续费
                            </div>
                            <div class="confirmation_box_final_detail">
                               0.28%
                            </div>
                        </li>
                        <li class="col-xs-12 all-to-none">
                            <div class="confirmation_box_final_title">
                                支付到
                            </div>
                            <div class="confirmation_box_final_detail">
                               Tripalink, Corp.
                            </div>
                        </li>
                        <li class="col-xs-12 all-to-none">
                            <div class="confirmation_box_final_title">
                                付款方
                            </div>
                            <div class="confirmation_box_final_detail">
                                <%= @easy_transfer.actual_payer_name %>
                            </div>
                        </li>
                        <li class="col-xs-12 all-to-none">
                            <div class="confirmation_box_final_title">
                                收款账户
                            </div>
                            <div class="confirmation_box_final_detail">
                                北京易思汇商务服务有限公司
                            </div>
                        </li>
                        <li class="col-xs-12 all-to-none">
                            <div class="confirmation_box_final_title">
                                开户银行
                            </div>
                            <div class="confirmation_box_final_detail">
                                中国民生银行北京朝阳门支行
                            </div>
                        </li>
                        <li class="col-xs-12 all-to-none">
                            <div class="confirmation_box_final_title">
                                开户银行
                            </div>
                            <div class="confirmation_box_final_detail">
                                693785001
                            </div>
                        </li>
                        <li class="col-xs-12 all-to-none">
                            <div class="confirmation_box_final_title">
                                汇款附言
                            </div>
                            <div class="confirmation_box_final_detail">
                               <%= @easy_transfer.name_ch %><%= @easy_transfer.serial_number ? @easy_transfer.serial_number[-6..-1] : '' %>
                            </div>
                        </li>
                        <li class="col-xs-12 all-to-none">
                            <div class="confirmation_box_final_title">
                                订单号
                            </div>
                            <div class="confirmation_box_final_detail">
                               <%= @easy_transfer.serial_number %>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 final_confirmation_box" align="center">
                <div class="final_confirmation_box_title">
                    系统将在24小时后根据汇率重新调整支付金额，请您尽快完成转账／汇款。
                </div>
                <div class="col-xs-12">
                    <form>
                        <div style="width:368px; margin-top:17px;" align="center">
                            <input type="checkbox" class="final_confirmation_box_checkbox" required>
                            <div class="final_confirmation_box_checkbox_text">
                                同意《每24小时汇率变更支付协议》
                            </div>
                        </div>
                        <div class="col-xs-12" align='center' style="margin-top:15px;">
                            <input type="submit" class="submit_easy_order" value="完成" id="easyTransferSubmit">
                        </div>
                    </form>
                        
                </div>
            </div>
            <div class="col-xs-12" align='center'>
                <a href="tel:18666864246">
                    <div class="paypage_footer">
                        <i class="fa fa-phone-square"></i> Have Questions? Call us at:(866)686-4246
                    </div>
                </a>
            </div>
        </div>
        
        <div class="step_3_content" style="display:<%= @easy_transfer.current_step == 3 ? 'block' : 'none' %>">
            <div class="confirmation_box_0">
                <div class="step_2_title col-xs-12 all-to-none">
                    1. 支付信息
                </div>
                <div class="col-xs-12 all-to-none">
                    <ul class="confirmation_ul" align="left">
                        <li class="col-xs-12">
                            <div class="confirmation_list_left">
                                收款方
                            </div>
                            <div class="confirmation_list_right">
                                Tripalink, Corp
                            </div>
                        </li>
                        <li  class="col-xs-12">
                            <div class="confirmation_list_left">
                                支付金额
                            </div>
                            <div class="confirmation_list_right">
                                $<%= number_with_delimiter(@easy_transfer.tuition) %> <span class="dollar_chinese"></span>
                            </div>
                        </li>
                        <li  class="col-xs-12">
                            <div class="confirmation_list_left">
                                用途 
                            </div>
                            <div class="confirmation_list_right">
                                购车费
                            </div>
                        </li>
                        <li  class="col-xs-12">
                            <div class="confirmation_list_left">
                                易思汇折扣
                            </div>
                            <div class="confirmation_list_right">
                                 -$200
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="confirmation_box_1" style="border-bottom: 1px dashed #CED1D9;">
                <div class="step_2_title col-xs-12 all-to-none">
                    2. 学生基本信息
                </div>
                <div class="all-to-none confirmation_left_box">
                    <ul class="confirmation_ul" align="left">
                        <li class="col-xs-12">
                            <div class="confirmation_list_left">
                                中文姓名
                            </div>
                            <div class="confirmation_list_right">
                                <%= @easy_transfer.name_ch %>
                            </div>
                        </li>
                        <li  class="col-xs-12">
                            <div class="confirmation_list_left">
                                姓名拼音
                            </div>
                            <div class="confirmation_list_right">
                                <%= @easy_transfer.name_en %>
                            </div>
                        </li>
                        <li  class="col-xs-12">
                            <div class="confirmation_list_left">
                                身份证号 
                            </div>
                            <div class="confirmation_list_right">
                                <%= @easy_transfer.student_id_number %>
                            </div>
                        </li>
                        <li  class="col-xs-12">
                            <div class="confirmation_list_left">
                                学号      
                            </div>
                            <div class="confirmation_list_right">
                                <%= @easy_transfer.student_number %>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="confirmation_box_1" style="border-bottom: 1px dashed #CED1D9; height:180px;">
                <div class="step_2_title col-xs-12 all-to-none">
                    3. 付款人信息
                </div>
                <div class="all-to-none confirmation_left_box">
                    <ul class="confirmation_ul" align="left">
                        <li class="col-xs-12">
                            <div class="confirmation_list_left">
                                中文姓名
                            </div>
                            <div class="confirmation_list_right">
                                <%= @easy_transfer.actual_payer_name %>
                            </div>
                        </li>
                        <li  class="col-xs-12">
                            <div class="confirmation_list_left">
                                手机号码
                            </div>
                            <div class="confirmation_list_right">
                                <%= @easy_transfer.actual_payer_mobile %>
                            </div>
                        </li>
                        <li  class="col-xs-12">
                            <div class="confirmation_list_left">
                                电子邮箱 
                            </div>
                            <div class="confirmation_list_right">
                                <%= @easy_transfer.actual_payer_email %>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="confirmation_box_1" style="height:80px;">
                <div class="step_2_title col-xs-12 all-to-none">
                    4. 上传缴费证明
                </div>
                <div class="all-to-none confirmation_left_box">
                    <ul class="confirmation_ul" align="left">
                        <li class="col-xs-12">
                            <div class="confirmation_list_left">
                                <i class="fa fa-folder-open"></i>
                                <div class="showFilename">
                                    <%= File.basename(@easy_transfer.attachment.path) if !@easy_transfer.attachment.blank? %>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12" align="center" style="margin-top:50px;">
                <div class="confirmation_button">
                    <div class="submit_button_final0" id="final_submit_button">
                        确认信息无误
                    </div>
                    <div class="submit_button_final1" id="final_back_button">
                        返回修改
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 home_page_footer all-to-none" style="background-color:#F9F9FB; z-index:-1;">
  <div class="col-xs-12 all-to-none footer_upper">
      <div class="footer_upper_left all-to-none hidden-sm hidden-xs">

      </div>
      <div class="footer_upper_middle all-to-none hidden-sm hidden-xs">
          <a href="/faq">
              <div class="col-xs-3 all-to-none" style="text-align:center;">
                  <%=t :home_page_help_center %>
              </div>
          </a>
          <div class="col-xs-3 all-to-none" style="text-align:center;">
              <%=t :home_page_about_us %>
          </div>
          <a href="/terms_policy">
              <div class="col-xs-3 all-to-none" style="text-align:center;">
                  <%=t :home_page_policy %>
              </div>
          </a>
          <a href="mailto:tripalink.helpcenter@gmail.com">
              <div class="col-xs-3 all-to-none" style="text-align:center;">
                  <%=t :home_page_contact %>
              </div>
          </a>
      </div>
      <div class="footer_upper_right all-to-none hidden-sm hidden-xs">
          <div style="max-width: 190px;">
             <a href="https://www.facebook.com/pages/Tripalink/1045740125437551">      
                 <div class="col-xs-3 foot_img_0">
                     <img src="<%= asset_path "homepage/facebook.png" %>" width="40px" height="40px" />
                 </div>
             </a>
             <a href="https://twitter.com/tripalink">
                 <div class="col-xs-3 foot_img_1">
                     <img src="<%= asset_path "homepage/twitter.png" %>" width="40px" height="40px" />
                 </div>
             </a>
             <div class="col-xs-3 foot_img_2" style="cursor:not-allowed">
                 <img src="<%= asset_path "homepage/weibo.png" %>" width="40px" height="40px" />
             </div>
             <div class="col-xs-3 foot_img_3" data-toggle="modal" data-target="#wechat_box">
                 <img src="<%= asset_path "homepage/wechat.png" %>" width="40px" height="40px" />
             </div>
          </div>
      </div>
      <div class="hidden-md hidden-lg col-xs-12 footer_mobile_upper">
          <a href="/faq">
              <div class="col-xs-3 all-to-none" style="text-align:center;">
                  <%=t :home_page_help_center %>
              </div>
          </a>
          <div class="col-xs-3 all-to-none" style="text-align:center;">
              <%=t :home_page_about_us %>
          </div>
          <a href="/terms_policy">
              <div class="col-xs-3 all-to-none" style="text-align:center;">
                  <%=t :home_page_policy %>
              </div>
          </a>
          <a href="mailto:tripalink.helpcenter@gmail.com">
              <div class="col-xs-3 all-to-none" style="text-align:center;">
                  <%=t :home_page_contact %>
              </div>
          </a>
      </div>
      <div class="hidden-md hidden-lg col-xs-12 footer_mobile_lower">
         <div style="max-width: 190px;">
             <a href="https://www.facebook.com/pages/Tripalink/1045740125437551">      
                 <div class="col-xs-3 foot_img_0">
                     <img src="<%= asset_path "homepage/facebook.png" %>" width="40px" height="40px" />
                 </div>
             </a>
             <a href="https://twitter.com/tripalink">
                 <div class="col-xs-3 foot_img_1">
                     <img src="<%= asset_path "homepage/twitter.png" %>" width="40px" height="40px" />
                 </div>
             </a>
             <div class="col-xs-3 foot_img_2" style="cursor:not-allowed">
                 <img src="<%= asset_path "homepage/weibo.png" %>" width="40px" height="40px" />
             </div>
             <div class="col-xs-3 foot_img_3" data-toggle="modal" data-target="#wechat_box">
                 <img src="<%= asset_path "homepage/wechat.png" %>" width="40px" height="40px" />
             </div>
          </div>
      </div>
      <div class="col-xs-12" align="center">
          <div class='footer_lower'>
              2015 Tripalink Corp. All Rights Reserved.
          </div>
      </div>
   </div>
</div>



<script>
    $(function() {
        $(window).scroll(function(){
            var scrollTop = $(window).scrollTop();
            if(scrollTop != 0) {
                $('header').css('background','rgba(74,144,226,1)');
                $('.nav_title, .nav_item > a > div, .signInBtn').css('color','white');  
                $('.signUpBtn').css('background-color','white');
                $('.signUpBtn, .signout a').css('color','rgba(74,144,226,1)');  
            }
            else {
                $('header').css('background','rgba(74,144,226,1)');
                $('.nav_title, .nav_item > a > div, .signInBtn').css('color','white');  
                $('.signUpBtn').css('background-color','white');
                $('.signUpBtn, .signout a').css('color','rgba(74,144,226,1)');  
            }
        });
        //submit step 1 form
        var easy_transfer_id;
        $('form#step_1_form').submit(function(event) {
            $('.wrong').css('display','none');
            console.log($(this).serialize());
            event.preventDefault();
            $.ajax({
                url:$(this).attr('action') + '.json',
                type:"post",
                data:$(this).serialize(),
                dataType:"json",
                beforeSend: function(){
                    $('#step_1_to_2_button').attr('value', '提交中...');
                },
                success:function(json){
                    var current_url = window.location.href;
                    var pos = current_url.indexOf('new');
                    var url_length = current_url.length - 1;
                    easy_transfer_id = json.id;
                    var new_url = current_url.substring(0, pos) + json.id;
		            window.history.pushState("",$('title').text(), new_url);
                    var parts = $('#step_2_form').attr('action').split('/');
                    if (parts[parts.length - 1].indexOf('easy_transfers') >= 0) {
                        // update the form in step 2
                        var step_2_form_action = $('#step_2_form').attr('action') + "/" + easy_transfer_id;// + '.json';
                        $('#step_2_form').attr('action', step_2_form_action);
                        if ($('form#step_2_form input[name="_method"]').size() == 0) {
                            $('<input>').attr({
                                type: 'hidden',
                                name: '_method',
                                value: 'patch'
                            }).insertAfter('form#step_2_form input[name="utf8"]');
                        }
                    }
                    // update UI
                    $('.step_1_content').css('display', 'none');
                    $('.step_2_content').css('display', 'block');
                    $('#easy_nav_1 .number_circle').css('color','#5FC782');
                    $('#easy_nav_1 .number_circle').css('border','0');
                    $('#step_1_to_2_button').attr('value', '提交订单');
                    $('#easy_nav_1 .number_circle').css('display','none');
                    $('#easy_nav_1 .done_circle').css('display','inline');
                    $('#easy_nav_1_line').css('background-color','#5FC782');
                    $('#easy_nav_1').css('color','#5FC782');
                },
                error:function(json_str) {
                    $('#step_1_to_2_button').attr('value', '提交订单');
                    var json = JSON.parse(json_str['responseText']);
                    console.log(JSON.parse(json_str['responseText']));
                    for(var key in json){
                        $('#wrong_' + key).css('display', 'inline');
                    }
                }
            })
        })
        var input_tag;
        var file_name;
        $('.input_test').blur(function(){
            input_tag = $(this).attr('tag');
            if($(this).val().length <= 0){
                $(this).addClass('animated flash error_input_border');
                $('.correct_' + input_tag).css('display','none');
                $('.wrong_' + input_tag).css('display','inline');
            }else{
                $(this).removeClass('animated flash error_input_border');
                $('.correct_' + input_tag).css('display','inline');
                $('.wrong_' + input_tag).css('display','none');
            }
        })
        $('.cancel_upload_btn').click(function(){
            location.reload();
        })
        //submit step 2 form
        
        $('form#step_2_form').submit(function(event) {
            
//            var formData = new FormData( this );
//            var upload_file_url = $('#step_2_form').attr('action'); // + "/" + easy_transfer_id + '.json';
//            console.log(upload_file_url);
//            $.ajax({
//                url:upload_file_url,
//                type:"post",
//                data:formData,
//                dataType:"json",
//                processData: false,
//                contentType: false,
//                beforeSend: function(){
//                    $('#step_2_to_3_button').attr('value', '提交中...');
//                },
//                success:function(json){
//                    $('#step_2_to_3_button').attr('value', '下一步');
//                    $('#easy_nav_2 .number_circle').css('display','none');
//                    $('#easy_nav_2 .done_circle').css('display','inline');
//                    $('#easy_nav_2_line').css('background-color','#5FC782');
//                    file_name = $('#uploadi20').val().split('\\')[2];
//                    $('.showFilename').html(file_name);
//                },
//                error:function(json_str) {
//                    $('#step_2_to_3_button').attr('value', '下一步');
//                    console.log(json_str);
//                }
//            });
        });
        //submit step 3
        $('#final_submit_button').click(function(){
                $.ajax({
                    url:window.location.href + '/confirm',
                    type: "post",
                    data: '',
                    dataType:'json',
                    beforeSend: function(){
                        $('#final_submit_button').html('提交中...');
                    },
                    success:function(json_success){
                        console.log(json_success);
                        $('#easy_nav_1 .number_circle').css('display','none');
                        $('#easy_nav_1 .done_circle').css('display','inline');
                        $('#easy_nav_1_line').css('background-color','#5FC782');
                        $('#easy_nav_1').css('color','#5FC782');
                        $('#easy_nav_2 .number_circle').css('display','none');
                        $('#easy_nav_2 .done_circle').css('display','inline');
                        $('#easy_nav_2_line').css('background-color','#5FC782');
                        $('#easy_nav_2').css('color','#5FC782');
                        $('.step_3_content').css('display', 'none');
                        $('.step_4_content').css('display', 'block');
                    },
                    error:function(json_error){
                        var json = JSON.parse(json_error['responseText']);
                        console.log(JSON.parse(json_error['responseText']));

                        if(json_error['responseText'].indexOf("Step1") > -1){
                            console.log('Step1 error');
                            $('.step_3_content').css('display', 'none');
                            $('.step_1_content').css('display', 'block');
                            $('.step_1_error_box').css('display', 'block');
                            $('.step_1_error_box').html(json['base'] + ' 请稍后再试，谢谢！');
                        }else if(json_error['responseText'].indexOf("Step2") > -1){
                            console.log('Step2 error');
                            $('.step_3_content').css('display', 'none');
                            $('.step_2_content').css('display', 'block');
                            $('.step_2_error_box').css('display', 'block');
                            $('.step_2_error_box').html(json['base'] + ' 请稍后再试，谢谢！');
                        }else{
                            alert(json_error['responseText']);
                        }
                    }
                })
        })
        $('#final_back_button').click(function(){
                $('.step_3_content').css('display', 'none');
                $('.step_1_content').css('display', 'block');
        })
    });
    
</script>
<script type="text/javascript" language="javascript">
    var myNumberDollar = numtochinese(<%= @easy_transfer.tuition %>);
    var myNumberRMB    = numtochinese(<%= @easy_transfer.tuition_rmb %>)
    $('.dollar_chinese').html('(' + myNumberDollar + ')');
    $('.rmb_chinese').html('人民币' + myNumberRMB);
    
    function numtochinese(Num) { 
        for(i=Num.length-1;i>=0;i--) 
        { 
             Num = String(Num).replace(",","")//替换tomoney()中的“,” 
             Num = String(Num).replace(" ","")//替换tomoney()中的空格 
        } 
    
        Num = String(Num).replace("￥","")//替换掉可能出现的￥字符 
        if(isNaN(Num))    
        { 
             //验证输入的字符是否为数字 
             alert("请检查小写金额是否正确"); 
             return; 
        } 
        //---字符处理完毕，开始转换，转换采用前后两部分分别转换---// 
        part = String(Num).split("."); 
        newchar = "";    
        //小数点前进行转化 
        for(i=part[0].length-1;i>=0;i--) { 
             if(part[0].length > 10){ alert("位数过大，无法计算");return "";}//若数量超过拾亿单位，提示 
             tmpnewchar = "" 
             perchar = part[0].charAt(i); 
             switch(perchar){ 
                 case "0": tmpnewchar="零" + tmpnewchar ;break; 
                 case "1": tmpnewchar="壹" + tmpnewchar ;break; 
                 case "2": tmpnewchar="贰" + tmpnewchar ;break; 
                 case "3": tmpnewchar="叁" + tmpnewchar ;break; 
                 case "4": tmpnewchar="肆" + tmpnewchar ;break; 
                 case "5": tmpnewchar="伍" + tmpnewchar ;break; 
                 case "6": tmpnewchar="陆" + tmpnewchar ;break; 
                 case "7": tmpnewchar="柒" + tmpnewchar ;break; 
                 case "8": tmpnewchar="捌" + tmpnewchar ;break; 
                 case "9": tmpnewchar="玖" + tmpnewchar ;break; 
             } 
             switch(part[0].length-i-1) { 
                 case 0: tmpnewchar = tmpnewchar +"元" ;break; 
                 case 1: if(perchar!=0)tmpnewchar= tmpnewchar +"拾" ;break; 
                 case 2: if(perchar!=0)tmpnewchar= tmpnewchar +"佰" ;break; 
                 case 3: if(perchar!=0)tmpnewchar= tmpnewchar +"仟" ;break;    
                 case 4: tmpnewchar= tmpnewchar +"万" ;break; 
                 case 5: if(perchar!=0)tmpnewchar= tmpnewchar +"拾" ;break; 
                 case 6: if(perchar!=0)tmpnewchar= tmpnewchar +"佰" ;break; 
                 case 7: if(perchar!=0)tmpnewchar= tmpnewchar +"仟" ;break; 
                 case 8: tmpnewchar= tmpnewchar +"亿" ;break; 
                 case 9: tmpnewchar= tmpnewchar +"拾" ;break; 
             } 
             newchar = tmpnewchar + newchar; 
        } 
        //小数点之后进行转化 
        if(Num.indexOf(".")!=-1) { 
            if(part[1].length > 2) { 
                alert("小数点之后只能保留两位,系统将自动截段"); 
                part[1] = part[1].substr(0,2) 
            } 
            for(i=0;i<part[1].length;i++) { 
                tmpnewchar = "" 
                perchar = part[1].charAt(i) 
                switch(perchar){ 
                    case "0": tmpnewchar="零" + tmpnewchar ;break; 
                    case "1": tmpnewchar="壹" + tmpnewchar ;break; 
                    case "2": tmpnewchar="贰" + tmpnewchar ;break; 
                    case "3": tmpnewchar="叁" + tmpnewchar ;break; 
                    case "4": tmpnewchar="肆" + tmpnewchar ;break; 
                    case "5": tmpnewchar="伍" + tmpnewchar ;break; 
                    case "6": tmpnewchar="陆" + tmpnewchar ;break; 
                    case "7": tmpnewchar="柒" + tmpnewchar ;break; 
                    case "8": tmpnewchar="捌" + tmpnewchar ;break; 
                    case "9": tmpnewchar="玖" + tmpnewchar ;break; 
                } 
                if(i==0)tmpnewchar =tmpnewchar + "角"; 
                if(i==1)tmpnewchar = tmpnewchar + "分"; 
                newchar = newchar + tmpnewchar; 
            } 
        } 
        //替换所有无用汉字 
        while(newchar.search("零零") != -1) 
        newchar = newchar.replace("零零", "零"); 
        newchar = newchar.replace("零亿", "亿"); 
        newchar = newchar.replace("亿万", "亿"); 
        newchar = newchar.replace("零万", "万");    
        newchar = newchar.replace("零元", "元"); 
        newchar = newchar.replace("零角", ""); 
        newchar = newchar.replace("零分", ""); 
    
        if (newchar.charAt(newchar.length-1) == "元" || newchar.charAt(newchar.length-1) == "角") 
        newchar = newchar+"整" 
        return newchar; 
    }
</script>







