<style type="text/css" media="screen">
  img { max-width: 600px; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic;}
  a img { border: none; }
  table { border-collapse: collapse !important; }
  #outlook a { padding:0; }
  .ReadMsgBody { width: 100%; }
  .ExternalClass {width:100%;}
  .backgroundTable {margin:0 auto; padding:0; width:100%;!important;}
  table td {border-collapse: collapse;}
  .ExternalClass * {line-height: 115%;}
  /* General styling */
  td {
      font-family: Arial, sans-serif;
      color: #5e5e5e;
      font-size: 16px;
      text-align: left;
  }
  body {
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:none;
    width: 100%;
    height: 100%;
    color: #5e5e5e;
    font-weight: 400;
    font-size: 16px;
  }
  h1 {
    margin: 10px 0;
  }
  a {
    color: #2b934f;
    text-decoration: none;
  }
  .body-padding {
    padding: 0 75px;
  }
  .force-full-width {
    width: 100% !important;
  }
  .icons {
    text-align: right;
    padding-right: 30px;
  }
  .logo {
    text-align: left;
    padding-left: 30px;
  }
  .computer-image {
    padding-left: 30px;
  }
  .header-text {
    text-align: left;
    padding-right: 30px;
    padding-left: 20px;
  }
  .header {
    color: #232925;
    font-size: 24px;
  }
</style>
<style type="text/css" media="screen">
  @media screen {
    @import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
    /* Thanks Outlook 2013! http://goo.gl/XLxpyl */
    * {
      font-family: 'PT Sans', 'Helvetica Neue', 'Arial', 'sans-serif' !important;
    }
  }
</style>
<style type="text/css" media="only screen and (max-width: 599px)">
/* Mobile styles */
@media only screen and (max-width: 599px) {
  table[class*="w320"] {
    width: 320px !important;
  }
  td[class*="icons"] {
    display: block !important;
    text-align: center !important;
    padding: 0 !important;
  }
  td[class*="logo"] {
    display: block !important;
    text-align: center !important;
    padding: 0 !important;
  }
  td[class*="computer-image"] {
    display: block !important;
    width: 230px !important;
    padding: 0 45px !important;
    border-bottom: 1px solid #e3e3e3 !important;
  }
  td[class*="header-text"] {
    display: block !important;
    text-align: center !important;
    padding: 0 25px!important;
    padding-bottom: 25px !important;
  }
  *[class*="mobile-hide"] {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    line-height: 0 !important;
    font-size: 0 !important;
  }
}
</style>
 <table align="center" cellpadding="0" cellspacing="0" width="100%" height="100%" style="margin-top:0px;z-index:99;width:100%; height:100%">
  <tr>
    <td align="center" valign="top" width="100%" style="width:100%">
      <center>
        <table cellspacing="0" cellpadding="0" width="600" class="w320" style="box-shadow:0px 0px 12px 0px #A0A8BD;">
          <tr>
            <td align="center" valign="top">
              <table cellspacing="0" cellpadding="0" class="force-full-width" style="background-color:#F9F9FB; width:100%; height:240px;">
                <tr>
                  <td align="center" valign="top">
                      <table cellspacing="0" cellpadding="0" class="force-full-width" style=" width:100%; height:191px; padding-top:0px; width:100%;" align="center">
                        <tr>
                            <td align="center" valign="top">
                               <table cellspacing="0" cellpadding="0" class="force-full-width" style="width:100%; height:191px;width:100%; line-height:25px; vertical-align:middle;" align="center">
                                   <td style="color:white; font-size:20px; font-weight:bold; text-align:center;padding-top:0;">
                                       <img src="<%= asset_url 'email/emailbanner.png'%>" height="240px" width="600px">
                                   </td>
                                </table>
                            </td>
                        </tr>
                      </table>
                  </td>
                </tr>
                <tr>
                    <% user = User.find(@charge.userid) %>
                    <% car = Car.find(@charge.carid) %>
                    <% carModel = car.car_model %>
                    <td align="center" valign="top">
                        <table  cellspacing="0" cellpadding="0" class="force-full-width" style=" width:100%; height:552px; padding-top:0px; width:100%;" align="center">
                            <tr style="height:76px">
                                <td align="center" valign="top">
                                    <table cellspacing="0" cellpadding="0" style="width:460px" align="center">
                                       <td style="color:#747B8B; font-size:16px; font-weight:500; text-align:left;padding-top:45px;height:22px; line-height:18px; vertical-align:middle;">
                                           Hi <%= user.name %>,
                                       </td>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <table cellspacing="0" cellpadding="0" style="width:460px" align="center">
                                       <td style="color:#747B8B !important; font-size:14px; font-weight:300; text-align:left;padding-top:9;line-height:17px; vertical-align:middle;padding-bottom:50px;">
                                           <br><span style="color:#747B8B !important;">Thank you for choosing us. This is to confirm that we have received your deposit of $500 for reservation of </span><span style="color:#4A90E2 !important"><%= carModel.year%> <%= carModel.make%> <%= carModel.model%></span><br><br><br><br><br><span style="color:#747B8B !important;">We can answer your questions about buying, help you to bring your new baby home.</span><br><br><span style="color:#747B8B !important;">Do you have questions? We're here to help. Email us anytime </span><a href="mailto:help@tripalink.com"><span style="color:#F55949 !important">Help@tripalink.com</span></a> or call us at <a href="tel:18666864246"><span style="color:#F55949 !important">1-866-686-4246</span></a><br><br><span style="color:#747B8B !important;">It is a pleasure to serve you.</span>
                                       </td>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>