<!DOCTYPE html>
<html ng-app>
  <%= render 'layouts/head' %>

  <body class="one-page controller-<%= params[:controller] %>
               action-<%= params[:action] %>"
        data-offset="100" data-spy="scroll" data-target="#header" >
    <div class="body">
      <% if request.path != '/experts/sign_in' %>
        <%= render 'layouts/nav' %>
      <% end %>

      <%= render 'layouts/message' %>

      <%= yield %>

      <%= render 'layouts/foot' %>

      <% debug(params) if Rails.env.development? %>

    </div>
  </body>
</html>
